.leadership_block .uk-grid {
  padding-left: 100px;
}
.leadership_block .img1 {
  margin-top: 40px;
  margin-bottom: 25px;
}
.leadership_block .inner {
  background: #ffad3e;
  background: -moz-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  position: relative;
}
.leadership_block .inner .text {
  padding-bottom: 20px;
  margin-left: 50px;
}
.leadership_block .inner p {
  color: white;
  margin: 0;
  font-size: 15px;
  line-height: 22px;
}
.leadership_block .img3 {
  margin-right: 70px;
  position: relative;
  top: -25px;
}
