.leadership_block {
    .uk-grid {
        padding-left: 100px;
    }

    .img1 {
        margin-top: 40px;
        margin-bottom: 25px;
    }

    .inner {
        background: rgb(255,173,62);
        background: -moz-linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
        background: linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e",endColorstr="#e05c16",GradientType=1);
        position: relative;

        .text {
            padding-bottom: 20px;
            margin-left: 50px;
        }

        p {
            color: white;
            margin: 0;
            font-size: 15px;
            line-height: 22px;
        }
    }

    .img3 {
        margin-right: 70px;
        position: relative;
        top: -25px;
    }
}