@import url("https://use.typekit.net/bdb7oiz.css");
section.counter_block {
  padding: 70px 0;
  background: #080A33;
}
section.counter_block p,
section.counter_block h2 {
  color: #FCA73B;
}
section.counter_block h2 {
  margin: 0;
  font-size: 60px;
}
