<<<<<<< HEAD
@import '../../css/variables.less';

section.counter_block {
    padding: 70px 0;
    background: #080A33;
}
section.counter_block p,
section.counter_block h2 {
    color: #FCA73B;
}
section.counter_block h2 {
    margin: 0;
    font-size: 60px;
=======
@import '../../css/variables.less';

section.counter_block {
    padding: 70px 0;
    background: #080A33;
}
section.counter_block p,
section.counter_block h2 {
    color: #FCA73B;
}
section.counter_block h2 {
    margin: 0;
    font-size: 60px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}