.number_list {
    .intro {
        max-width: 550px;
        margin: 0 auto;
    }

    .number-list {
        margin: 40px 0;

        .number {
            color: #FFAD3E;
            opacity: 0.2;
            font-size: 90px;
            line-height: 90px;
            font-weight: 600;
        }

        .grid {
            display: grid;
            grid-template-columns: 60px 1fr;
            grid-gap: 20px;
        }

        h3,h4,p {
            margin: 0;
        }

        h3 {
            font-size: 20px;
            font-weight: 700;
        }

        h4 {
            font-size: 15px;
            color: #080A33;
        }
    }
}