.number_list .intro {
  max-width: 550px;
  margin: 0 auto;
}
.number_list .number-list {
  margin: 40px 0;
}
.number_list .number-list .number {
  color: #FFAD3E;
  opacity: 0.2;
  font-size: 90px;
  line-height: 90px;
  font-weight: 600;
}
.number_list .number-list .grid {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 20px;
}
.number_list .number-list h3,
.number_list .number-list h4,
.number_list .number-list p {
  margin: 0;
}
.number_list .number-list h3 {
  font-size: 20px;
  font-weight: 700;
}
.number_list .number-list h4 {
  font-size: 15px;
  color: #080A33;
}
