<<<<<<< HEAD
@import '../../css/variables.less';

.semester_block {
    .uk-container {
        @media (min-width: 960px) {
            padding-left: 90px;
        }
    }
    .inner {
        background: @silver;

        .intro {
            padding: 35px;

            p {
                margin: 0;
                font-size: 14px;
            }
        }

        h2 {
            max-width: 340px;
            font-size: 35px;
            line-height: 40px;
            margin: 0 0 15px;
        }
    }

    .dates {
        margin-top: 15px;
    }

    .date {
        position: relative;
        left: -90px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: #fff;
        .header {
            padding: 15px;
            background-color: @navy;
            text-align: center;

            p {
                margin: 0;
                font-size: 30px;
                font-weight: 600;
                color: @orange;
                line-height: 36px;
            }
        }

        .body {
            padding: 10px 0;
            p {
                font-size: 12px;
                font-weight: 600;
                margin: 0 0 7px 0;
            }
        }
        
    }
=======
@import '../../css/variables.less';

.semester_block {
    .uk-container {
        @media (min-width: 960px) {
            padding-left: 90px;
        }
    }
    .inner {
        background: @silver;

        .intro {
            padding: 35px;

            p {
                margin: 0;
                font-size: 14px;
            }
        }

        h2 {
            max-width: 340px;
            font-size: 35px;
            line-height: 40px;
            margin: 0 0 15px;
        }
    }

    .dates {
        margin-top: 15px;
    }

    .date {
        position: relative;
        left: -90px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: #fff;
        .header {
            padding: 15px;
            background-color: @navy;
            text-align: center;

            p {
                margin: 0;
                font-size: 30px;
                font-weight: 600;
                color: @orange;
                line-height: 36px;
            }
        }

        .body {
            padding: 10px 0;
            p {
                font-size: 12px;
                font-weight: 600;
                margin: 0;
            }
        }
        
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}