@import url("https://use.typekit.net/bdb7oiz.css");
@media (min-width: 960px) {
  .semester_block .uk-container {
    padding-left: 90px;
  }
}
.semester_block .inner {
  background: #F6F6F6;
}
.semester_block .inner .intro {
  padding: 35px;
}
.semester_block .inner .intro p {
  margin: 0;
  font-size: 14px;
}
.semester_block .inner h2 {
  max-width: 340px;
  font-size: 35px;
  line-height: 40px;
  margin: 0 0 15px;
}
.semester_block .dates {
  margin-top: 15px;
}
.semester_block .date {
  position: relative;
  left: -90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.semester_block .date .header {
  padding: 15px;
  background-color: #080A33;
  text-align: center;
}
.semester_block .date .header p {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: #FCA73B;
  line-height: 36px;
}
.semester_block .date .body {
  padding: 10px 0;
}
.semester_block .date .body p {
  font-size: 12px;
  font-weight: 600;
<<<<<<< HEAD
  margin: 0 0 7px 0;
=======
  margin: 0;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
