@import url("https://use.typekit.net/bdb7oiz.css");
section.tabbed_block {
  padding: 110px 0 180px;
  background: #F6F6F6;
  position: relative;
}
section.tabbed_block .uk-subnav {
  margin-bottom: 45px;
}
section.tabbed_block .uk-subnav li {
  margin-bottom: 10px;
}
section.tabbed_block .uk-subnav a {
  display: block;
  min-width: 160px;
  padding: 10px 25px;
  position: relative;
  z-index: 2;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0;
  background: white;
  color: #FCA73B;
  text-align: center;
  text-transform: none;
  box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
}
section.tabbed_block .uk-subnav a i {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
section.tabbed_block .uk-subnav li.uk-active a {
  background: #FCA73B;
  color: white;
}
section.tabbed_block .uk-switcher {
  position: relative;
  min-height: 400px;
}
section.tabbed_block .uk-switcher .wp-block-button {
  min-width: 160px;
}
section.tabbed_block .uk-switcher .uk-switcher__bg {
  min-height: 400px;
  width: 100%;
  position: relative;
}
section.tabbed_block .uk-switcher .uk-switcher__text {
  background: white;
  padding: 2em;
  max-width: 460px;
  position: absolute;
  bottom: -140px;
}
section.tabbed_block .uk-switcher .uk-switcher__text .wp-block-button__link {
  min-width: 160px;
  padding: 10px 25px;
}
section.tabbed_block .uk-switcher .uk-switcher__text .wp-block-button__link i {
  position: relative;
  top: 2px;
  margin-left: 5px;
}
section.tabbed_block .people {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 0;
  padding-top: 110px;
  padding-left: 30px;
}
section.tabbed_block .people h4 {
  margin: 20px 0 0;
}
section.tabbed_block .people p {
  margin: 0;
}
section.tabbed_block .people p.subtitle {
  font-size: 12px;
  font-weight: 800;
}
section.tabbed_block .people a {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
  display: block;
  font-weight: normal;
}
