<<<<<<< HEAD
.archive .page-header,
.search .page-header,
.error404 .page-header {

	margin: $size__spacing-unit $size__spacing-unit calc(3 * #{$size__spacing-unit});

	@include media(tablet) {
		margin: 0 $size__site-margins calc(3 * #{$size__spacing-unit});
	}

	.page-title {

		color: $color__text-light;
		display: inline;
		letter-spacing: normal;

		&:before {
			display: none;
		}
	}

	.search-term,
	.page-description {
		display: inherit;
		clear: both;
	}
}

.archive .page-header .page-description,
.search .page-header .page-description {
	display: block;
	color: $color__text-main;
	font-size: 1em;
}

.hfeed .entry .entry-header {

	@include media(tablet) {
		margin: calc(3 * #{$size__spacing-unit}) $size__site-margins calc(#{ $size__spacing-unit } / 2);
	}
}

/* 404 & Not found */

.error-404.not-found,
.no-results.not-found {

	.page-content {

		margin: calc(3 * #{$size__spacing-unit}) #{$size__spacing-unit};

		@include media(tablet) {
			margin: calc(3 * #{$size__spacing-unit}) $size__site-margins calc(#{ $size__spacing-unit } / 2);
		}
	}

	.search-submit {
		vertical-align: middle;
		margin: $size__spacing-unit 0;
	}

	.search-field {
		width: 100%;
	}
}
=======
.archive .page-header,
.search .page-header,
.error404 .page-header {

	margin: $size__spacing-unit $size__spacing-unit calc(3 * #{$size__spacing-unit});

	@include media(tablet) {
		margin: 0 $size__site-margins calc(3 * #{$size__spacing-unit});
	}

	.page-title {

		color: $color__text-light;
		display: inline;
		letter-spacing: normal;

		&:before {
			display: none;
		}
	}

	.search-term,
	.page-description {
		display: inherit;
		clear: both;
	}
}

.archive .page-header .page-description,
.search .page-header .page-description {
	display: block;
	color: $color__text-main;
	font-size: 1em;
}

.hfeed .entry .entry-header {

	@include media(tablet) {
		margin: calc(3 * #{$size__spacing-unit}) $size__site-margins calc(#{ $size__spacing-unit } / 2);
	}
}

/* 404 & Not found */

.error-404.not-found,
.no-results.not-found {

	.page-content {

		margin: calc(3 * #{$size__spacing-unit}) #{$size__spacing-unit};

		@include media(tablet) {
			margin: calc(3 * #{$size__spacing-unit}) $size__site-margins calc(#{ $size__spacing-unit } / 2);
		}
	}

	.search-submit {
		vertical-align: middle;
		margin: $size__spacing-unit 0;
	}

	.search-field {
		width: 100%;
	}
}
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
