<<<<<<< HEAD
// Transition timeouts.

$link_transition: 110ms;
$icon_transition: 120ms;
$button_transition: 150ms;
=======
// Transition timeouts.

$link_transition: 110ms;
$icon_transition: 120ms;
$button_transition: 150ms;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
$background_transition: 200ms;