<<<<<<< HEAD
@import "../../css/variables.less";
section.slider_block {
	background: #F6F6F6;
    padding: 50px 0;
    a:hover {
        opacity: 1 !important;

        h3 {
            opacity: 0.5;
        }
    }
	.uk-text-center {
		margin-bottom: 60px;
	}
	.uk-container-fluid {
		padding-left: 3%;
		padding-right: 3%;
	}
	.slick-dots {
		margin: 40px 0 0 0;
		padding: 0;
		list-style: none;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 8px;
			button {
				background: white;
				border: 1px solid #FCA73B;
				width: 15px;
				height: 15px;
				text-indent: -999em;
				border-radius: 15px;
				&:active {
					outline: none;
				}
				&:focus {
					outline: none;
				}
			}
		}
		li.slick-active {
			button {
				background: #FCA73B;
			}
		}
	}
	.slick-track {
		display: flex;
		align-items: center;
	}
	.slider_block__inner {
		min-height: 250px;
		position: relative;
		z-index: 5;
		margin: 10px 0;
		.slider_block__name {
			background: -moz-linear-gradient(left, rgba(224, 92, 22, 0.8) 0%, rgba(255, 173, 62, 0.8) 100%);
			background: -webkit-linear-gradient(left, rgba(224, 92, 22, 0.8) 0%, rgba(255, 173, 62, 0.8) 100%);
			background: linear-gradient(to right, rgba(224, 92, 22, 0.8) 0%, rgba(255, 173, 62, 0.8) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99e05c16', endColorstr='#99ffad3e', GradientType=1);
			position: absolute;
			height: 100%;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 20px 35px;
			h3 {
				color: white;
				margin: 0;
            }
			.icon-container {
				background: #FCA73B;
				padding: 10px;
				text-align: center;
				position: relative;
				width: 70px;
				height: 65px;
				font-size: 23px;
				margin-right: 25px;
				i {
					position: absolute;
					color: white;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
	.slick-slide {
		position: relative;
	}
	.slick-slide.slick-center {
		.slider_block__inner {
			position: relative;
			min-height: 330px;
			z-index: 10;
			transform: scale(1.08);
			.slider_block__name {
				max-height: 100px;
			}
		}
	}
}
=======
@import '../../css/variables.less';

section.slider_block {
    background: #F6F6F6;
    padding: 50px 0;
}
section.slider_block .uk-text-center {
    margin-bottom: 60px;
}
section.slider_block .uk-container-fluid {
    padding-left: 3%;
    padding-right: 3%;
}
section.slider_block .slick-dots {
    margin: 40px 0 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
section.slider_block .slick-dots li {
    display: inline-block;
    margin: 0 8px;
}
section.slider_block .slick-dots li button {
    background: white;
    border: 1px solid #FCA73B;
    width: 15px;
    height: 15px;
    text-indent: -999em;
    border-radius: 15px;
}
section.slider_block .slick-dots li button:active,
section.slider_block .slick-dots li button:focus {
    outline: none;
}
section.slider_block .slick-dots li.slick-active button {
    background: #FCA73B;
}
section.slider_block .slick-track {
    display: flex;
    align-items: center;
}
section.slider_block .slider_block__inner {
    min-height: 250px;
    position: relative;
    z-index: 5;
    margin: 10px 0;
}
section.slider_block .slider_block__inner .slider_block__name {
    background: -moz-linear-gradient(left, rgba(224, 92, 22, 0.8) 0%, rgba(255, 173, 62, 0.8) 100%);
    background: -webkit-linear-gradient(left, rgba(224, 92, 22, 0.8) 0%, rgba(255, 173, 62, 0.8) 100%);
    background: linear-gradient(to right, rgba(224, 92, 22, 0.8) 0%, rgba(255, 173, 62, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99e05c16', endColorstr='#99ffad3e', GradientType=1);
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 35px;
}
section.slider_block .slider_block__inner .slider_block__name h3 {
    color: white;
    margin: 0;
}
section.slider_block .slider_block__inner .slider_block__name .icon-container {
    background: #FCA73B;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 70px;
    height: 65px;
    font-size: 23px;
    margin-right: 25px;
}
section.slider_block .slider_block__inner .slider_block__name .icon-container i {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.slider_block .slick-slide {
    position: relative;
}
section.slider_block .slick-slide.slick-center .slider_block__inner {
    position: relative;
    min-height: 330px;
    z-index: 10;
    transform: scale(1.08);
}
section.slider_block .slick-slide.slick-center .slider_block__inner .slider_block__name {
    max-height: 100px;
}
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
