.image_slider {
    background-color: #F6F6F6;
    padding: 50px 0;

    h2 {
        margin: 0;
    }

    .arrows {
        position: relative;
        z-index: 10;
    }

    figcaption {
        text-align: center;
    }

    .slick-track {
        display: flex;
        align-items: center;
        margin: 40px 0;
    }

    .slick-center {
        .inner {
           transform: scale(1.3);
        }
    }

    .slick-arrow {
        display: inline-block;
        z-index: 10;
        padding: 0;
        border: none;
        background: transparent;

        &:active,&:focus {
            outline: none;
        }

        .arrow-blue {
            background: url(./../img/arrow-blue.svg) no-repeat;
            width: 80px;
            height: 80px;
            display: block;
            background-size: 100%;

            &.reverse {
                background: url(./../img/arrow-blue-left.svg) no-repeat;
                background-size: 100%;
            }
        }
    }
}