.image_slider {
  background-color: #F6F6F6;
  padding: 50px 0;
}
.image_slider h2 {
  margin: 0;
}
.image_slider .arrows {
  position: relative;
  z-index: 10;
}
.image_slider figcaption {
  text-align: center;
}
.image_slider .slick-track {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.image_slider .slick-center .inner {
  transform: scale(1.3);
}
.image_slider .slick-arrow {
  display: inline-block;
  z-index: 10;
  padding: 0;
  border: none;
  background: transparent;
}
.image_slider .slick-arrow:active,
.image_slider .slick-arrow:focus {
  outline: none;
}
.image_slider .slick-arrow .arrow-blue {
  background: url(../img/arrow-blue.svg) no-repeat;
  width: 80px;
  height: 80px;
  display: block;
  background-size: 100%;
}
.image_slider .slick-arrow .arrow-blue.reverse {
  background: url(../img/arrow-blue-left.svg) no-repeat;
  background-size: 100%;
}
