@import url("https://use.typekit.net/bdb7oiz.css");
.faq_block {
  padding: 80px 0 0;
}
.faq_block .text {
  max-width: 420px;
  padding-left: 70px;
}
@media only screen and (max-width: 767px) {
  .faq_block .text {
    padding-left: 0;
    max-width: inherit;
  }
}
.faq_block .wp-block-buttons {
  margin: 20px 0;
}
.faq_block a:not(.wp-block-button__link) {
  display: block;
  margin: 10px 0;
}
.faq_block a:not(.wp-block-button__link) i {
  color: #186BE7;
  margin-right: 15px;
}
.faq_block .faq-questions {
  position: relative;
  top: -120px;
  left: -120px;
}
.faq_block .faq-questions .uk-accordion .uk-accordion-title {
  font-size: 15px;
  font-weight: normal;
}
.faq_block .faq-questions .uk-accordion .uk-accordion-content p {
  font-size: 14px;
  font-weight: normal;
}
.faq_block .faq-questions .uk-accordion li {
  padding: 15px;
  background: white;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.1);
}
.faq_block .faq-questions .uk-accordion > :nth-child(n+2) {
  margin-top: 8px;
}
