<<<<<<< HEAD
@import '../../css/variables.less';

.faq_block {
    padding: 80px 0 0;

    .text {
        max-width: 420px;
        padding-left: 70px;

        @media @media-mobile {
            padding-left: 0;
            max-width: inherit;
        }
    }

    .wp-block-buttons {
        margin: 20px 0;
    }

    a:not(.wp-block-button__link) {
        display: block;
        margin: 10px 0;

        i {
            color: @blue;
            margin-right: 15px;
        }
    }

    .faq-questions {
        position: relative;
        top: -120px;
        left: -120px;

        .uk-accordion {
            .uk-accordion-title {
                font-size: 15px;
                font-weight: normal;
            }
            .uk-accordion-content {
                p {
                    font-size: 14px;
                    font-weight: normal;
                }
            }
            li {
                padding: 15px;
                background: white;
                border: 1px solid #eee;
                box-shadow: 0 0 10px rgba(100,100,100,0.1);
            }

            > :nth-child(n+2) {
                margin-top: 8px;
            }
        }
    }
=======
@import '../../css/variables.less';

.faq_block {
    padding: 80px 0 0;

    .text {
        max-width: 420px;
        padding-left: 70px;

        @media @media-mobile {
            padding-left: 0;
            max-width: inherit;
        }
    }

    .wp-block-buttons {
        margin: 20px 0;
    }

    a:not(.wp-block-button__link) {
        display: block;
        margin: 10px 0;

        i {
            color: @blue;
            margin-right: 15px;
        }
    }

    .faq-questions {
        position: relative;
        top: -120px;
        left: -120px;

        .uk-accordion {
            .uk-accordion-title {
                font-size: 15px;
                font-weight: normal;
            }
            .uk-accordion-content {
                p {
                    font-size: 14px;
                    font-weight: normal;
                }
            }
            li {
                padding: 15px;
                background: white;
                border: 1px solid #eee;
                box-shadow: 0 0 10px rgba(100,100,100,0.1);
            }

            > :nth-child(n+2) {
                margin-top: 8px;
            }
        }
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}