.locations_block {
  position: relative;
  margin-bottom: 110px;
}
.locations_block h2 {
  color: #080A33;
  font-size: 70px;
}
.locations_block .intro {
  max-width: 580px;
  padding-top: 350px;
}
.locations_block .intro p {
  color: white;
}
.locations_block .places {
  background: #F6F6F6;
  padding: 40px 20px 20px;
  margin-bottom: -110px;
}
.locations_block .places .uk-grid {
  margin-left: 100px;
  margin-right: 100px;
}
.locations_block .places .text {
  margin-left: 25px;
}
.locations_block .places .text h4,
.locations_block .places .text p {
  margin: 0;
}
.locations_block .places .wp-block-buttons {
  text-align: center;
  margin-top: 35px;
}
