.locations_block {
    position: relative;
    margin-bottom: 110px;

    h2 {
        color: #080A33;
        font-size: 70px;
    }

    .intro {
        max-width: 580px;
        padding-top: 350px;
        p {
            color: white;
        }
    }

    .places {
        background: #F6F6F6;
        padding: 40px 20px 20px;
        margin-bottom: -110px;

        .uk-grid {
            margin-left: 100px;
            margin-right: 100px;
        }

        .text {
            margin-left: 25px;
            h4,p {
                margin: 0;
            }
        }

        .wp-block-buttons {
            text-align: center;
            margin-top: 35px;
        }
    }
}