.academic_icons h2 {
  padding-right: 35px;
}
.academic_icons .icons div {
  text-align: center;
}
.academic_icons .icons div img {
  display: block;
  margin: 0 auto 10px;
}
.academic_icons .icons div p {
  font-size: 14px;
  line-height: 20px;
  max-width: 170px;
  margin: 0 auto;
}
.academic_icons .icons .uk-grid-margin {
  margin-top: 30px;
}
