<<<<<<< HEAD
.academic_icons {
    h2 {
        padding-right: 35px;
    }
    .icons {
        div {
            text-align: center;
            img {
                display: block;
                margin: 0 auto 10px;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                max-width: 170px;
                margin: 0 auto;
            }
        }

        .uk-grid-margin {
            margin-top: 30px;
        }
    }
=======
.academic_icons {
    h2 {
        padding-right: 35px;
    }
    .icons {
        div {
            text-align: center;
            img {
                display: block;
                margin: 0 auto 10px;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                max-width: 170px;
                margin: 0 auto;
            }
        }

        .uk-grid-margin {
            margin-top: 30px;
        }
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}