.student_needs .list {
  max-width: 860px;
  background: white;
  margin: 0 auto;
  padding: 50px;
  margin-top: -60px;
  position: relative;
}
.student_needs .list p {
  margin: 0;
  padding: 0;
}
.student_needs .list p.uk-grid-margin {
  margin-top: 20px;
}
