<<<<<<< HEAD
.student_needs {
    background: @silver;
    padding: 50px 0 0;
    position: relative;

    &::after {
        content: "";
        background: rgb(255,173,62);
        background: -moz-linear-gradient(left,  rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(255,173,62,1) 0%,rgba(224,92,22,1) 100%);
        background: linear-gradient(to right,  rgba(255,173,62,1) 0%,rgba(224,92,22,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad3e', endColorstr='#e05c16',GradientType=1 );
        height: 10px;
        width: 100%;
        display: block;
    }

    .list {
        max-width: 860px;
        background: @silver;
        margin: 0 auto;
        padding: 50px;
        margin-top: -60px;
        position: relative;

        p {
            margin: 0;
            padding: 0;

            &.uk-grid-margin {
                margin-top: 20px;
            }
        }
    }

    .needs {
        background: url(./../img/needs-graphic.svg) no-repeat;
        width: 485px;
        height: 485px;
        position: absolute;
        top: 50%;
        z-index: 10;
        left: -240px;
        transform: translate(0,-50%);
    }
=======
.student_needs {
    background: @silver;
    padding: 50px 0 0;
    position: relative;

    &::after {
        content: "";
        background: rgb(255,173,62);
        background: -moz-linear-gradient(left,  rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(255,173,62,1) 0%,rgba(224,92,22,1) 100%);
        background: linear-gradient(to right,  rgba(255,173,62,1) 0%,rgba(224,92,22,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad3e', endColorstr='#e05c16',GradientType=1 );
        height: 10px;
        width: 100%;
        display: block;
    }

    .list {
        max-width: 860px;
        background: @silver;
        margin: 0 auto;
        padding: 50px;
        margin-top: -60px;
        position: relative;

        p {
            margin: 0;
            padding: 0;

            &.uk-grid-margin {
                margin-top: 20px;
            }
        }
    }

    .needs {
        background: url(./../img/needs-graphic.svg) no-repeat;
        width: 485px;
        height: 485px;
        position: absolute;
        top: 50%;
        z-index: 10;
        left: -240px;
        transform: translate(0,-50%);
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}