<<<<<<< HEAD
@import './../../css/variables.less';

.tc_list {
    img {
        min-width: 550px;
    }
    .text {
        padding-left: 50px;
    }

    .wp-block-buttons {
        margin-top: 25px;
    }

    ul {
        margin: 0 0 0 -20px;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            color: @navy;

            &::before {
                content: "";
                background: url(./../img/checkmark.svg) no-repeat;
                width: 70px;
                height: 60px;
                display: inline-block;
                background-size: 100%;
            }
        }
    }
=======
.tc_list {
    img {
        min-width: 550px;
    }
    .text {
        padding-left: 50px;
    }

    .wp-block-buttons {
        margin-top: 25px;
    }

    ul {
        margin: 0 0 0 -20px;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            &::before {
                content: "";
                background: url(./../img/checkmark.svg) no-repeat;
                width: 70px;
                height: 60px;
                display: inline-block;
                background-size: 100%;
            }
        }
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}