<<<<<<< HEAD
@import url("https://use.typekit.net/bdb7oiz.css");
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.tc_list img {
  min-width: 550px;
}
.tc_list .text {
  padding-left: 50px;
}
.tc_list .wp-block-buttons {
  margin-top: 25px;
}
.tc_list ul {
  margin: 0 0 0 -20px;
  padding: 0;
  list-style: none;
}
.tc_list ul li {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  color: #080A33;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.tc_list ul li::before {
  content: "";
  background: url(../img/checkmark.svg) no-repeat;
  width: 70px;
  height: 60px;
  display: inline-block;
  background-size: 100%;
}
