<<<<<<< HEAD
/** === Footer menu === */

.footer-navigation {

	display: inline;

	& > div {
		display: inline;
	}

	.footer-menu {

		display: inline;
		padding-left: 0;

		li {
			display: inline;
			margin-right: 1rem;
		}
	}

=======
/** === Footer menu === */

.footer-navigation {

	display: inline;

	& > div {
		display: inline;
	}

	.footer-menu {

		display: inline;
		padding-left: 0;

		li {
			display: inline;
			margin-right: 1rem;
		}
	}

>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}