.image_icons {
  padding: 85px 0 120px;
}
.image_icons .img-container {
  position: relative;
}
<<<<<<< HEAD
.image_icons .img-container p {
  font-size: 14px;
  line-height: 20px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.image_icons .img-container::after {
  content: "";
  background: #ffad3e;
  background: -moz-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  position: absolute;
  bottom: 0;
  right: -120px;
  width: 326px;
  height: 664px;
  z-index: -1;
}
.image_icons .panel {
  background: white;
  padding: 0 15px 0 0;
  position: absolute;
  bottom: -90px;
  max-width: 80%;
}
.image_icons .icons {
  text-align: center;
  padding-right: 45px;
}
