<<<<<<< HEAD
.image_icons {
    padding: 85px 0 120px;
    .img-container {
        position: relative;

        p {
            font-size: 14px;
            line-height: 20px;
        }

        &::after {
            content: "";
            background: rgb(255,173,62);
            background: -moz-linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
            background: linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e",endColorstr="#e05c16",GradientType=1);
            position: absolute;
            bottom: 0;
            right: -120px;
            width: 326px;
            height: 664px;
            z-index: -1;
        }
    }
    .panel {
        background: white;
        padding: 0 15px 0 0;
        position: absolute;
        bottom: -90px;
        max-width: 80%;
    }

    .icons {
        text-align: center;
        padding-right: 45px;
    }
=======
.image_icons {
    padding: 85px 0 120px;
    .img-container {
        position: relative;

        &::after {
            content: "";
            background: rgb(255,173,62);
            background: -moz-linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
            background: linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e",endColorstr="#e05c16",GradientType=1);
            position: absolute;
            bottom: 0;
            right: -120px;
            width: 326px;
            height: 664px;
            z-index: -1;
        }
    }
    .panel {
        background: white;
        padding: 0 15px 0 0;
        position: absolute;
        bottom: -90px;
        max-width: 80%;
    }

    .icons {
        text-align: center;
        padding-right: 45px;
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}