<<<<<<< HEAD
@import './variables.less';

//Blocks
@import '../blocks/counter/counter.less';
@import '../blocks/slider/slider.less';
@import '../blocks/tabbed/tabbed.less';
@import '../blocks/tc-banner/tc-banner.less';
@import '../blocks/banner/banner.less';
@import '../blocks/tc-list/tc-list.less';
@import '../blocks/needs/needs.less';
@import '../blocks/academics/academics.less';
@import '../blocks/image-parallax/image-parallax.less';
@import '../blocks/image-parallax-2/image-parallax-2.css';
@import '../blocks/semester/semester.less';
@import '../blocks/tc-links/tc-links.less';
@import '../blocks/school-classes/school-classes.less';
@import '../blocks/image-icons/image-icons.less';
@import '../blocks/leadership/leadership.less';
@import '../blocks/faq/faq.less';
@import '../blocks/gallery/gallery.less';
@import '../blocks/column-slider/column-slider.less';
@import '../blocks/locations/locations.less';
@import '../blocks/image-parallax-2/image-parallax-2.less';
@import '../blocks/image-slider/image-slider.less';
@import '../blocks/number-list/number-list.less';

p {
  &.is-style-container-small {
    max-width: 460px;
    margin: 0px auto 40px;
  }
}

.wp-block-cover,
.wp-block-cover-image {
  &.is-style-less-padding {
    min-height: 230px;
  }
}

.wp-block-table {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
  padding-bottom: 30px;

  table {
    background: white;
    position: relative;
    top: -20px;
  }

  &::before{
    content: "";
    background: url(./../img/table-graphic.png);
    display: block;
    width: 400px;
    height: 400px;
    position: absolute;
    left: -340px;
    top: -34px;
    background-size: 100%;
    z-index: 5;
  }

  tr:first-child {
    background: @navy;

    td {
      color: white;
    }
  }

  td {
    padding: 6px 80px;
  }
}

.wp-block-buttons {
  &.alignright {
    float: right;
  }
}
.wp-block-button {
  position: relative;
  min-width: 160px;
}
.wp-block-button .wp-block-button__link {
  display: inline-block;
  min-width: 160px;
  padding: 10px 25px;
  position: relative;
  z-index: 2;
  font-size: 16px;
  border-radius: 0;
}
.wp-block-button .wp-block-button__link i {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
.wp-block-button.is-style-blue-button .wp-block-button__link {
  &::after {
    content: "";
    background: url(./../img/link-arrow-white.svg) no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 1px;
  }
}
.wp-block-button.is-style-orange-button {
  box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
}
.wp-block-button.is-style-orange-button .wp-block-button__link {
  background: #FCA73B;
  color: white;
  transition: all 0.25s;
  font-weight: @semibold;

  &:hover {
    background: #F37F27;
    transform: scale(1.08);
  }

  &::after {
    content: "";
    background: url(./../img/link-arrow-white.svg) no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 1px;
  }
}
.wp-block-button.is-style-white-button .wp-block-button__link {
  background: white;
  color: #e05c16;
  transition: all 0.25s;
  font-weight: @semibold;

  &:hover {
    transform: scale(1.08);
  }
}
.wp-block-button.is-style-blue-button .wp-block-button__link {
  background: #186BE7;
  color: white;
}
@media only screen and (max-width: 960px) {
  .wp-block-button {
    min-width: inherit;
  }
  .wp-block-button .wp-block-button__link {
    min-width: inherit;
  }
}
.wp-block-group {
  &.is-style-bottom-border {
    &::after {
      content: "";
      background: #ffad3e;
      background: -moz-linear-gradient(left, #ffad3e 0%, #e05c16 100%);
      background: -webkit-linear-gradient(left, #ffad3e 0%, #e05c16 100%);
      background: linear-gradient(to right, #ffad3e 0%, #e05c16 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad3e', endColorstr='#e05c16', GradientType=1);
      height: 10px;
      width: 100%;
      display: block;
    }
  }
}
.wp-block-group.is-style-small-container .wp-block-group__inner-container {
  max-width: 880px;
}
.wp-block-group .wp-block-group__inner-container {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 640px) {
  .wp-block-group .wp-block-group__inner-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 960px) {
  .wp-block-group .wp-block-group__inner-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.wp-block-group .wp-block-columns .wp-block-columns {
  margin-left: -60px;
}
.wp-block-columns.is-style-vertical-center {
  align-items: center;
}
.wp-block-columns {
  .wp-block-column {
    ul, ol {
      a {
        display: block;
        color: @orange;
        font-size: 15px;
        &::after {
          content: "";
          background: url(./../img/link-arrow.svg);
          display: inline-block;
          margin-left: 8px;
          width: 7px;
          height: 9px;
        }
      }
    }
  }
}
.wp-block-column:not(:first-child) {
  margin-left: 60px;
}

ul.is-style-with-checkboxes,
ol.is-style-with-checkboxes {
  margin: 0 0 0 -20px;
  padding: 0;
  list-style: none;

  li {
      display: flex;
      align-items: center;
      &::before {
          content: "";
          background: url(./../img/checkmark.svg) no-repeat;
          width: 70px;
          height: 60px;
          display: inline-block;
          background-size: 100%;
      }
  }
}

ul.is-style-no-bullets,
ol.is-style-no-bullets {
  list-style: none;
}

.wp-block-media-text.has-media-on-the-right figure {
  padding: 0 0 0 100px;
}
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
  padding: 0 100px 0 0;
}
.wp-block-media-text figure {
  padding: 0 100px 0 0;
}
.wp-block-media-text .wp-block-media-text__content {
  padding: 0 0 0 100px;
}
.wp-block-image.is-style-with-shadow figure {
  position: relative;
}
.wp-block-image.is-style-with-shadow figure::after {
  content: "";
  background: #F6F6F6;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 30px;
  top: 30px;
  z-index: -1;
}
.wp-block-image {
  figcaption {
    display: inline;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
    color: @navy;
  }
}
.wp-block-cover h2 {
  margin: 0 0 35px;
=======
@import './variables.less';

//Blocks
@import '../blocks/counter/counter.less';
@import '../blocks/slider/slider.less';
@import '../blocks/tabbed/tabbed.less';
@import '../blocks/tc-banner/tc-banner.less';
@import '../blocks/banner/banner.less';
@import '../blocks/tc-list/tc-list.less';
@import '../blocks/needs/needs.less';
@import '../blocks/academics/academics.less';
@import '../blocks/image-parallax/image-parallax.less';
@import '../blocks/semester/semester.less';
@import '../blocks/tc-links/tc-links.less';
@import '../blocks/school-classes/school-classes.less';
@import '../blocks/image-icons/image-icons.less';
@import '../blocks/faq/faq.less';
@import '../blocks/gallery/gallery.less';
@import '../blocks/column-slider/column-slider.less';
@import '../blocks/locations/locations.less';

p {
  &.is-style-container-small {
    max-width: 460px;
    margin: 0px auto 40px;
  }
}

.wp-block-cover,
.wp-block-cover-image {
  &.is-style-less-padding {
    min-height: 230px;
  }
}

.wp-block-table {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
  padding-bottom: 30px;

  table {
    background: white;
    position: relative;
    top: -20px;
  }

  &::before{
    content: "";
    background: url(./../img/table-graphic.png);
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    left: -420px;
    top: -100px;
    background-size: 100%;
    z-index: 5;
  }

  tr:first-child {
    background: @navy;

    td {
      color: white;
    }
  }

  td {
    padding: 10px 80px;
  }
}

.wp-block-buttons {
  &.alignright {
    float: right;
  }
}
.wp-block-button {
  position: relative;
  min-width: 160px;
}
.wp-block-button .wp-block-button__link {
  display: inline-block;
  min-width: 160px;
  padding: 10px 25px;
  position: relative;
  z-index: 2;
  font-size: 16px;
  border-radius: 0;
}
.wp-block-button .wp-block-button__link i {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
.wp-block-button.is-style-orange-button {
  box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
}
.wp-block-button.is-style-orange-button .wp-block-button__link {
  background: #FCA73B;
  color: white;

  &::after {
    content: "";
    background: url(./../img/link-arrow-white.svg) no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 1px;
  }
}
.wp-block-button.is-style-white-button .wp-block-button__link {
  background: white;
  color: #FCA73B;
}
.wp-block-button.is-style-blue-button .wp-block-button__link {
  background: #186BE7;
  color: white;
}
@media only screen and (max-width: 960px) {
  .wp-block-button {
    min-width: inherit;
  }
  .wp-block-button .wp-block-button__link {
    min-width: inherit;
  }
}
.wp-block-group {
  &.is-style-bottom-border {
    &::after {
      content: "";
      background: #ffad3e;
      background: -moz-linear-gradient(left, #ffad3e 0%, #e05c16 100%);
      background: -webkit-linear-gradient(left, #ffad3e 0%, #e05c16 100%);
      background: linear-gradient(to right, #ffad3e 0%, #e05c16 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad3e', endColorstr='#e05c16', GradientType=1);
      height: 10px;
      width: 100%;
      display: block;
    }
  }
}
.wp-block-group.is-style-small-container .wp-block-group__inner-container {
  max-width: 880px;
}
.wp-block-group .wp-block-group__inner-container {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 640px) {
  .wp-block-group .wp-block-group__inner-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 960px) {
  .wp-block-group .wp-block-group__inner-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.wp-block-group .wp-block-columns .wp-block-columns {
  margin-left: -60px;
}
.wp-block-media-text.has-media-on-the-right figure {
  padding: 0 0 0 100px;
}
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
  padding: 0 100px 0 0;
}
.wp-block-media-text figure {
  padding: 0 100px 0 0;
}
.wp-block-media-text .wp-block-media-text__content {
  padding: 0 0 0 100px;
}
.wp-block-image.is-style-with-shadow figure {
  position: relative;
}
.wp-block-image.is-style-with-shadow figure::after {
  content: "";
  background: #F6F6F6;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 30px;
  top: 30px;
  z-index: -1;
}
.wp-block-image {
  figcaption {
    display: inline;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
  }
}
.wp-block-cover h2 {
  margin: 0 0 35px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}