@import url("https://use.typekit.net/bdb7oiz.css");
<<<<<<< HEAD
@import '../blocks/image-parallax-2/image-parallax-2.css';
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
section.counter_block {
  padding: 70px 0;
  background: #080A33;
}
section.counter_block p,
section.counter_block h2 {
  color: #FCA73B;
}
section.counter_block h2 {
  margin: 0;
  font-size: 60px;
}
section.slider_block {
  background: #F6F6F6;
  padding: 50px 0;
}
<<<<<<< HEAD
section.slider_block a:hover {
  opacity: 1 !important;
}
section.slider_block a:hover h3 {
  opacity: 0.5;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
section.slider_block .uk-text-center {
  margin-bottom: 60px;
}
section.slider_block .uk-container-fluid {
  padding-left: 3%;
  padding-right: 3%;
}
section.slider_block .slick-dots {
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
section.slider_block .slick-dots li {
  display: inline-block;
  margin: 0 8px;
}
section.slider_block .slick-dots li button {
  background: white;
  border: 1px solid #FCA73B;
  width: 15px;
  height: 15px;
  text-indent: -999em;
  border-radius: 15px;
}
<<<<<<< HEAD
section.slider_block .slick-dots li button:active {
  outline: none;
}
=======
section.slider_block .slick-dots li button:active,
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
section.slider_block .slick-dots li button:focus {
  outline: none;
}
section.slider_block .slick-dots li.slick-active button {
  background: #FCA73B;
}
section.slider_block .slick-track {
  display: flex;
  align-items: center;
}
section.slider_block .slider_block__inner {
  min-height: 250px;
  position: relative;
  z-index: 5;
  margin: 10px 0;
}
section.slider_block .slider_block__inner .slider_block__name {
  background: -moz-linear-gradient(left, rgba(224, 92, 22, 0.8) 0%, rgba(255, 173, 62, 0.8) 100%);
  background: -webkit-linear-gradient(left, rgba(224, 92, 22, 0.8) 0%, rgba(255, 173, 62, 0.8) 100%);
  background: linear-gradient(to right, rgba(224, 92, 22, 0.8) 0%, rgba(255, 173, 62, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99e05c16', endColorstr='#99ffad3e', GradientType=1);
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 35px;
}
section.slider_block .slider_block__inner .slider_block__name h3 {
  color: white;
  margin: 0;
}
section.slider_block .slider_block__inner .slider_block__name .icon-container {
  background: #FCA73B;
  padding: 10px;
  text-align: center;
  position: relative;
  width: 70px;
  height: 65px;
  font-size: 23px;
  margin-right: 25px;
}
section.slider_block .slider_block__inner .slider_block__name .icon-container i {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.slider_block .slick-slide {
  position: relative;
}
section.slider_block .slick-slide.slick-center .slider_block__inner {
  position: relative;
  min-height: 330px;
  z-index: 10;
  transform: scale(1.08);
}
section.slider_block .slick-slide.slick-center .slider_block__inner .slider_block__name {
  max-height: 100px;
}
section.tabbed_block {
  padding: 110px 0 180px;
  background: #F6F6F6;
  position: relative;
}
section.tabbed_block .uk-subnav {
  margin-bottom: 45px;
}
section.tabbed_block .uk-subnav a {
  display: block;
  min-width: 160px;
  padding: 10px 25px;
  position: relative;
  z-index: 2;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0;
  background: white;
  color: #FCA73B;
  text-align: center;
  text-transform: none;
  box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
}
section.tabbed_block .uk-subnav a i {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
section.tabbed_block .uk-subnav li.uk-active a {
  background: #FCA73B;
  color: white;
}
section.tabbed_block .uk-switcher {
  position: relative;
  min-height: 400px;
}
<<<<<<< HEAD
section.tabbed_block .uk-switcher .wp-block-button {
  min-width: 160px;
}
section.tabbed_block .uk-switcher .uk-switcher__bg {
  min-height: 400px;
=======
section.tabbed_block .uk-switcher .uk-switcher__bg {
  min-height: 400px;
  position: absolute;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  width: 100%;
}
section.tabbed_block .uk-switcher .uk-switcher__text {
  background: #F6F6F6;
  padding: 2em;
  max-width: 460px;
  position: absolute;
  bottom: -120px;
}
<<<<<<< HEAD
section.tabbed_block .uk-switcher .uk-switcher__text.has-additional {
  bottom: inherit;
  top: 133px;
}
section.tabbed_block .uk-switcher .uk-switcher__text .wp-block-button__link {
  min-width: 160px;
  padding: 10px 25px;
}
section.tabbed_block .uk-switcher .uk-switcher__text .wp-block-button__link i {
=======
section.tabbed_block .uk-switcher .wp-block-button,
section.tabbed_block .uk-switcher .wp-block-button__link {
  min-width: 160px;
}
section.tabbed_block .uk-switcher .wp-block-button__link {
  padding: 10px 25px;
}
section.tabbed_block .uk-switcher .wp-block-button__link i {
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  position: relative;
  top: 2px;
  margin-left: 5px;
}
<<<<<<< HEAD
section.tabbed_block .people {
  display: grid;
  grid-template-columns: 500px 1fr 1fr;
  grid-gap: 50px 0;
  padding-top: 50px;
}
section.tabbed_block .people div:first-child {
  grid-row: 1 / span 2;
  max-width: 370px;
}
section.tabbed_block .people h4 {
  margin: 20px 0 0;
}
section.tabbed_block .people p {
  margin: 0;
}
section.tabbed_block .people p.subtitle {
  font-size: 12px;
  font-weight: 800;
}
section.tabbed_block .people a {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
  display: block;
  font-weight: normal;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
section.tc_banner_block {
  padding: 125px 0;
}
section.tc_banner_block .tc_banner_block__inner {
  position: relative;
  min-height: 555px;
  width: 100%;
  text-align: center;
}
section.tc_banner_block .tc_banner_block__inner h2 {
  color: white;
}
.banner_block {
<<<<<<< HEAD
  padding: 35px 0;
=======
  padding: 85px 0;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.banner_block p {
  max-width: 620px;
}
<<<<<<< HEAD
.banner_block a {
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  color: #FCA73B;
}
.banner_block a i {
  color: #186BE7;
  margin-right: 15px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.tc_list img {
  min-width: 550px;
}
.tc_list .text {
  padding-left: 50px;
}
.tc_list .wp-block-buttons {
  margin-top: 25px;
}
.tc_list ul {
  margin: 0 0 0 -20px;
  padding: 0;
  list-style: none;
}
.tc_list ul li {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  color: #080A33;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.tc_list ul li::before {
  content: "";
  background: url(../img/checkmark.svg) no-repeat;
  width: 70px;
  height: 60px;
  display: inline-block;
  background-size: 100%;
}
.student_needs {
  background: #F6F6F6;
  padding: 50px 0 0;
  position: relative;
}
.student_needs::after {
  content: "";
  background: #ffad3e;
  background: -moz-linear-gradient(left, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(left, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(to right, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad3e', endColorstr='#e05c16', GradientType=1);
  height: 10px;
  width: 100%;
  display: block;
}
.student_needs .list {
  max-width: 860px;
  background: #F6F6F6;
  margin: 0 auto;
  padding: 50px;
  margin-top: -60px;
  position: relative;
}
.student_needs .list p {
  margin: 0;
  padding: 0;
}
.student_needs .list p.uk-grid-margin {
  margin-top: 20px;
}
.student_needs .needs {
  background: url(../img/needs-graphic.svg) no-repeat;
  width: 485px;
  height: 485px;
  position: absolute;
  top: 50%;
  z-index: 10;
  left: -240px;
  transform: translate(0, -50%);
}
.academic_icons h2 {
  padding-right: 35px;
}
.academic_icons .icons div {
  text-align: center;
}
.academic_icons .icons div img {
  display: block;
  margin: 0 auto 10px;
}
.academic_icons .icons div p {
  font-size: 14px;
  line-height: 20px;
  max-width: 170px;
  margin: 0 auto;
}
.academic_icons .icons .uk-grid-margin {
  margin-top: 30px;
}
.image_parallax {
  position: relative;
  overflow: hidden;
  padding: 100px 0 80px;
}
.image_parallax .text {
  position: relative;
  z-index: 2;
}
.image_parallax .graphic {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.image_parallax h2 {
  font-size: 70px;
  font-weight: bold;
  line-height: 118px;
}
.image_parallax p {
  max-width: 440px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
}
@media (min-width: 960px) {
  .semester_block .uk-container {
    padding-left: 90px;
  }
}
.semester_block .inner {
  background: #F6F6F6;
}
.semester_block .inner .intro {
  padding: 35px;
}
.semester_block .inner .intro p {
  margin: 0;
  font-size: 14px;
}
.semester_block .inner h2 {
  max-width: 340px;
  font-size: 35px;
  line-height: 40px;
  margin: 0 0 15px;
}
.semester_block .dates {
  margin-top: 15px;
}
.semester_block .date {
  position: relative;
  left: -90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.semester_block .date .header {
  padding: 15px;
  background-color: #080A33;
  text-align: center;
}
.semester_block .date .header p {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: #FCA73B;
  line-height: 36px;
}
.semester_block .date .body {
  padding: 10px 0;
}
.semester_block .date .body p {
  font-size: 12px;
  font-weight: 600;
<<<<<<< HEAD
  margin: 0 0 7px 0;
}
.tc_links {
  margin-top: -20px;
  padding-bottom: 50px;
=======
  margin: 0;
}
.tc_links {
  margin-top: -40px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.tc_links .bg {
  padding: 200px 55px 40px;
  text-align: center;
  min-height: 475px;
  max-width: 350px;
  margin: 0 auto;
}
.tc_links .bg h2 {
  color: white;
  margin: 0;
}
.tc_links .bg p {
  font-size: 14px;
  line-height: 22px;
  color: white;
  margin-bottom: 30px;
}
.school_classes {
  padding: 100px 0 180px;
  background: #F6F6F6;
}
.school_classes .bg {
  padding-top: 220px;
}
.school_classes .bg .inner {
  background: #F6F6F6;
  padding: 30px;
  max-width: 65%;
  position: relative;
  top: 130px;
}
.school_classes h4 {
  margin: 0;
}
.school_classes ul,
.school_classes ol {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.school_classes ul li p,
.school_classes ol li p,
.school_classes ul li a,
.school_classes ol li a {
  font-size: 15px;
<<<<<<< HEAD
  line-height: 16px;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  font-weight: 600;
}
.school_classes ul li a,
.school_classes ol li a {
  color: #FCA73B;
}
.school_classes ul li a::after,
.school_classes ol li a::after {
  content: "";
  background: url(../img/link-arrow.svg) no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.image_icons {
  padding: 85px 0 120px;
}
.image_icons .img-container {
  position: relative;
}
<<<<<<< HEAD
.image_icons .img-container p {
  font-size: 14px;
  line-height: 20px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.image_icons .img-container::after {
  content: "";
  background: #ffad3e;
  background: -moz-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  position: absolute;
  bottom: 0;
  right: -120px;
  width: 326px;
  height: 664px;
  z-index: -1;
}
.image_icons .panel {
  background: white;
  padding: 0 15px 0 0;
  position: absolute;
  bottom: -90px;
  max-width: 80%;
}
.image_icons .icons {
  text-align: center;
  padding-right: 45px;
}
<<<<<<< HEAD
.leadership_block .uk-grid {
  padding-left: 100px;
}
.leadership_block .img1 {
  margin-top: 40px;
  margin-bottom: 25px;
}
.leadership_block .inner {
  background: #ffad3e;
  background: -moz-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  position: relative;
}
.leadership_block .inner .text {
  padding-bottom: 20px;
  margin-left: 50px;
}
.leadership_block .inner p {
  color: white;
  margin: 0;
  font-size: 15px;
  line-height: 22px;
}
.leadership_block .img3 {
  margin-right: 70px;
  position: relative;
  top: -25px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.faq_block {
  padding: 80px 0 0;
}
.faq_block .text {
  max-width: 420px;
  padding-left: 70px;
}
@media only screen and (max-width: 767px) {
  .faq_block .text {
    padding-left: 0;
    max-width: inherit;
  }
}
.faq_block .wp-block-buttons {
  margin: 20px 0;
}
.faq_block a:not(.wp-block-button__link) {
  display: block;
  margin: 10px 0;
}
.faq_block a:not(.wp-block-button__link) i {
  color: #186BE7;
  margin-right: 15px;
}
.faq_block .faq-questions {
  position: relative;
  top: -120px;
  left: -120px;
}
.faq_block .faq-questions .uk-accordion .uk-accordion-title {
  font-size: 15px;
  font-weight: normal;
}
.faq_block .faq-questions .uk-accordion .uk-accordion-content p {
  font-size: 14px;
  font-weight: normal;
}
.faq_block .faq-questions .uk-accordion li {
  padding: 15px;
  background: white;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.1);
}
.faq_block .faq-questions .uk-accordion > :nth-child(n+2) {
  margin-top: 8px;
}
.gallery_block {
  padding: 80px 0 40px;
}
.gallery_block .intro {
  position: relative;
}
.gallery_block .intro::before {
  content: "";
  z-index: -1;
  background: #ffad3e;
  background: -moz-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  position: absolute;
  left: -40px;
  top: -80px;
  width: 303px;
  height: 650px;
}
<<<<<<< HEAD
.gallery_block .intro img {
  padding-left: 25px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.gallery_block .intro a {
  color: #FCA73B;
  font-weight: 500;
}
.gallery_block .intro a::after {
  content: "";
  background: url(../img/link-arrow.svg) no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.gallery_block .gallery {
  margin-top: 50px;
}
.gallery_block .gallery .slick-list {
  margin: 25px;
}
.gallery_block .gallery .slick-slide img {
  width: 100%;
<<<<<<< HEAD
  max-width: 1024px;
  margin: 0 auto;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.gallery_block .gallery .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  padding: 0;
  border: none;
  background: transparent;
}
.gallery_block .gallery .slick-arrow:active,
.gallery_block .gallery .slick-arrow:focus {
  outline: none;
}
.gallery_block .gallery .slick-arrow .arrow-blue {
  background: url(../img/arrow-blue.svg) no-repeat;
  width: 80px;
  height: 80px;
  display: block;
  background-size: 100%;
}
.gallery_block .gallery .slick-arrow .arrow-blue.reverse {
  transform: rotate(180deg);
}
.gallery_block .gallery .slick-arrow.slick-prev {
  left: -45px;
}
.gallery_block .gallery .slick-arrow.slick-next {
  right: -45px;
}
.column_slider {
  position: relative;
  padding: 80px 0 140px;
}
.column_slider .arrows {
  position: relative;
  z-index: 10;
<<<<<<< HEAD
  left: -16px;
}
.column_slider .arrows button:last-child {
  position: relative;
  left: -20px;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.column_slider .slick-arrow {
  display: inline-block;
  z-index: 10;
  padding: 0;
  border: none;
  background: transparent;
}
.column_slider .slick-arrow:active,
.column_slider .slick-arrow:focus {
  outline: none;
}
.column_slider .slick-arrow .arrow-blue {
  background: url(../img/arrow-blue.svg) no-repeat;
  width: 80px;
  height: 80px;
  display: block;
  background-size: 100%;
}
.column_slider .slick-arrow .arrow-blue.reverse {
  background: url(../img/arrow-blue-left.svg) no-repeat;
  background-size: 100%;
}
.column_slider .panel {
  background: #f6f6f6;
  padding: 30px;
  position: absolute;
  bottom: 0;
  min-width: 500px;
  min-height: 450px;
}
.column_slider .panel h2 {
  max-width: 310px;
}
.column_slider .slick-track {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.column_slider .tc_banner_block__inner {
  position: relative;
  min-height: 325px;
  width: 100%;
  text-align: center;
  opacity: 0.6;
}
.column_slider .tc_banner_block__inner h2 {
  color: white;
  font-size: 24px;
  margin: 0;
}
.column_slider .tc_banner_block__inner .wp-block-buttons {
  display: none;
}
.column_slider .slick-center .tc_banner_block__inner {
  min-height: 500px;
  margin-top: -70px;
  transform: scale(1.3);
  z-index: 1;
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.column_slider .slick-center .tc_banner_block__inner h2 {
  font-size: 30px;
}
.column_slider .slick-center .tc_banner_block__inner a,
.column_slider .slick-center .tc_banner_block__inner h2 {
  transform: scale(0.7);
}
.column_slider .slick-center .tc_banner_block__inner .uk-position-bottom-center {
  bottom: 20px;
}
.column_slider .slick-center .tc_banner_block__inner .wp-block-buttons {
  display: block;
}
<<<<<<< HEAD
.locations_block {
  position: relative;
  margin-bottom: 110px;
}
.locations_block h2 {
  color: #080A33;
  font-size: 70px;
}
.locations_block .intro {
  max-width: 580px;
  padding-top: 350px;
}
.locations_block .intro p {
  color: white;
}
.locations_block .places {
  background: #F6F6F6;
  padding: 40px 20px 20px;
  margin-bottom: -110px;
}
.locations_block .places .uk-grid {
  margin-left: 100px;
  margin-right: 100px;
}
.locations_block .places .text {
  margin-left: 25px;
}
.locations_block .places .text h4,
.locations_block .places .text p {
  margin: 0;
}
.locations_block .places .wp-block-buttons {
  text-align: center;
  margin-top: 35px;
}
.image_parallax_2 {
  padding: 100px 0 170px;
}
.image_parallax_2 .graphic {
  left: 10%;
  z-index: -1;
}
.image_parallax_2 .shadow {
  background: #ffad3e;
  background: -moz-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  width: 305px;
  height: 400px;
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: -1;
}
.image_parallax_2 .badge {
  position: absolute;
  top: 20px;
  right: -50px;
  z-index: 5;
}
.image_parallax_2 .img-container {
  position: relative;
  z-index: 5;
}
.image_parallax_2 .img-container .img {
  min-height: 400px;
  width: 305px;
  position: relative;
  z-index: 1;
}
.image_parallax_2 .img-container h3,
.image_parallax_2 .img-container p,
.image_parallax_2 .img-container a {
  color: white;
}
.image_parallax_2 .img-container p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.image_parallax_2 .img-container a {
  font-size: 14px;
  font-weight: 600;
}
.image_parallax_2 .img-container .text-container {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 220px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.image_parallax_2 .img-container .text-container a i {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
.image_slider {
  background-color: #F6F6F6;
  padding: 50px 0;
}
.image_slider h2 {
  margin: 0;
}
.image_slider .arrows {
  position: relative;
  z-index: 10;
}
.image_slider figcaption {
  text-align: center;
}
.image_slider .slick-track {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.image_slider .slick-center .inner {
  transform: scale(1.3);
}
.image_slider .slick-arrow {
  display: inline-block;
  z-index: 10;
  padding: 0;
  border: none;
  background: transparent;
}
.image_slider .slick-arrow:active,
.image_slider .slick-arrow:focus {
  outline: none;
}
.image_slider .slick-arrow .arrow-blue {
  background: url(../img/arrow-blue.svg) no-repeat;
  width: 80px;
  height: 80px;
  display: block;
  background-size: 100%;
}
.image_slider .slick-arrow .arrow-blue.reverse {
  background: url(../img/arrow-blue-left.svg) no-repeat;
  background-size: 100%;
}
.number_list .intro {
  max-width: 550px;
  margin: 0 auto;
}
.number_list .number-list {
  margin: 40px 0;
}
.number_list .number-list .number {
  color: #FFAD3E;
  opacity: 0.2;
  font-size: 90px;
  line-height: 90px;
  font-weight: 600;
}
.number_list .number-list .grid {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 20px;
}
.number_list .number-list h3,
.number_list .number-list h4,
.number_list .number-list p {
  margin: 0;
}
.number_list .number-list h3 {
  font-size: 20px;
  font-weight: 700;
}
.number_list .number-list h4 {
  font-size: 15px;
  color: #080A33;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
p.is-style-container-small {
  max-width: 460px;
  margin: 0px auto 40px;
}
.wp-block-cover.is-style-less-padding,
.wp-block-cover-image.is-style-less-padding {
  min-height: 230px;
}
.wp-block-table {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
  padding-bottom: 30px;
}
.wp-block-table table {
  background: white;
  position: relative;
  top: -20px;
}
.wp-block-table::before {
  content: "";
  background: url(../img/table-graphic.png);
  display: block;
<<<<<<< HEAD
  width: 400px;
  height: 400px;
  position: absolute;
  left: -340px;
  top: -34px;
=======
  width: 500px;
  height: 500px;
  position: absolute;
  left: -420px;
  top: -100px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  background-size: 100%;
  z-index: 5;
}
.wp-block-table tr:first-child {
  background: #080A33;
}
.wp-block-table tr:first-child td {
  color: white;
}
.wp-block-table td {
<<<<<<< HEAD
  padding: 6px 80px;
=======
  padding: 10px 80px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.wp-block-buttons.alignright {
  float: right;
}
.wp-block-button {
  position: relative;
  min-width: 160px;
}
.wp-block-button .wp-block-button__link {
  display: inline-block;
  min-width: 160px;
  padding: 10px 25px;
  position: relative;
  z-index: 2;
  font-size: 16px;
  border-radius: 0;
}
.wp-block-button .wp-block-button__link i {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
<<<<<<< HEAD
.wp-block-button.is-style-blue-button .wp-block-button__link::after {
  content: "";
  background: url(../img/link-arrow-white.svg) no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.wp-block-button.is-style-orange-button {
  box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
}
.wp-block-button.is-style-orange-button .wp-block-button__link {
  background: #FCA73B;
  color: white;
<<<<<<< HEAD
  transition: all 0.25s;
  font-weight: 600;
}
.wp-block-button.is-style-orange-button .wp-block-button__link:hover {
  background: #F37F27;
  transform: scale(1.08);
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.wp-block-button.is-style-orange-button .wp-block-button__link::after {
  content: "";
  background: url(../img/link-arrow-white.svg) no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.wp-block-button.is-style-white-button .wp-block-button__link {
  background: white;
<<<<<<< HEAD
  color: #e05c16;
  transition: all 0.25s;
  font-weight: 600;
}
.wp-block-button.is-style-white-button .wp-block-button__link:hover {
  transform: scale(1.08);
=======
  color: #FCA73B;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.wp-block-button.is-style-blue-button .wp-block-button__link {
  background: #186BE7;
  color: white;
}
@media only screen and (max-width: 960px) {
  .wp-block-button {
    min-width: inherit;
  }
  .wp-block-button .wp-block-button__link {
    min-width: inherit;
  }
}
.wp-block-group.is-style-bottom-border::after {
  content: "";
  background: #ffad3e;
  background: -moz-linear-gradient(left, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(left, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(to right, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad3e', endColorstr='#e05c16', GradientType=1);
  height: 10px;
  width: 100%;
  display: block;
}
.wp-block-group.is-style-small-container .wp-block-group__inner-container {
  max-width: 880px;
}
.wp-block-group .wp-block-group__inner-container {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 640px) {
  .wp-block-group .wp-block-group__inner-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 960px) {
  .wp-block-group .wp-block-group__inner-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.wp-block-group .wp-block-columns .wp-block-columns {
  margin-left: -60px;
}
<<<<<<< HEAD
.wp-block-columns.is-style-vertical-center {
  align-items: center;
}
.wp-block-columns .wp-block-column ul a,
.wp-block-columns .wp-block-column ol a {
  display: block;
  color: #FCA73B;
  font-size: 15px;
}
.wp-block-columns .wp-block-column ul a::after,
.wp-block-columns .wp-block-column ol a::after {
  content: "";
  background: url(../img/link-arrow.svg);
  display: inline-block;
  margin-left: 8px;
  width: 7px;
  height: 9px;
}
.wp-block-column:not(:first-child) {
  margin-left: 60px;
}
ul.is-style-with-checkboxes,
ol.is-style-with-checkboxes {
  margin: 0 0 0 -20px;
  padding: 0;
  list-style: none;
}
ul.is-style-with-checkboxes li,
ol.is-style-with-checkboxes li {
  display: flex;
  align-items: center;
}
ul.is-style-with-checkboxes li::before,
ol.is-style-with-checkboxes li::before {
  content: "";
  background: url(../img/checkmark.svg) no-repeat;
  width: 70px;
  height: 60px;
  display: inline-block;
  background-size: 100%;
}
ul.is-style-no-bullets,
ol.is-style-no-bullets {
  list-style: none;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.wp-block-media-text.has-media-on-the-right figure {
  padding: 0 0 0 100px;
}
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
  padding: 0 100px 0 0;
}
.wp-block-media-text figure {
  padding: 0 100px 0 0;
}
.wp-block-media-text .wp-block-media-text__content {
  padding: 0 0 0 100px;
}
.wp-block-image.is-style-with-shadow figure {
  position: relative;
}
.wp-block-image.is-style-with-shadow figure::after {
  content: "";
  background: #F6F6F6;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 30px;
  top: 30px;
  z-index: -1;
}
.wp-block-image figcaption {
  display: inline;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
<<<<<<< HEAD
  color: #080A33;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.wp-block-cover h2 {
  margin: 0 0 35px;
}
