<<<<<<< HEAD
@import './variables.less';

body,html {
    font-family: @font;
    line-height: 1.5;
    overflow-x: hidden;
}

p.subtitle {
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0;
}

.fade-title {
    position: relative;
    color: #F2F2F2;
    margin: 0;
    font-size: 162px;
    line-height: 128px;
    z-index: -1;

    &.left {
        margin-left: -10%;
    }
    &.right {
        text-align: right;
        margin-right: -10%;
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

p {
    font-size: 18px;
    line-height: 30px;
    color: @black;

    &.wp-ekr-paragraph {
        // wrapper styles
        box-sizing: content-box;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        @media (min-width: 960px) {
            padding-left: 40px;
            padding-right: 40px;
        }

        @media (min-width: 640px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

a {
    color: @black;
    // font-family: @heading;
    // font-weight: @bold;
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.25s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: @heading;
    position: relative;
    font-weight: 500;
    color: #000;

    &.wp-ekr-heading {
        // wrapper styles
        box-sizing: content-box;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        @media (min-width: 960px) {
            padding-left: 40px;
            padding-right: 40px;
        }

        @media (min-width: 640px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

h1 {
    font-size: 132px;
    line-height: 118px;
    font-weight: 600;
}

h2 {
    font-size: 52px;
    line-height: 52px;
    margin: 20px 0 30px;
}

h3 {
    font-size: 32px;
    line-height: 52px;
}

.wp-block-columns {
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    .wp-ekr-heading, .wp-ekr-paragraph {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }

    @media @media-tablet {
        padding-left: 30px;
        padding-right: 30px;
    }

    &.wp-ekr-paragraph {
        @media @media-mobile {
            padding-left: 0;
            padding-right: 0;
        }
    }
=======
@import './variables.less';

body,html {
    font-family: @font;
    line-height: 1.5;
    overflow-x: hidden;
}

p.subtitle {
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0;
}

.fade-title {
    position: relative;
    color: #F2F2F2;
    margin: 0;
    font-size: 162px;
    line-height: 128px;
    z-index: -1;

    &.left {
        margin-left: -10%;
    }
    &.right {
        text-align: right;
        margin-right: -10%;
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

p {
    font-size: 18px;
    line-height: 30px;
    color: @black;

    &.wp-ekr-paragraph {
        // wrapper styles
        box-sizing: content-box;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        @media (min-width: 960px) {
            padding-left: 40px;
            padding-right: 40px;
        }

        @media (min-width: 640px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

a {
    color: @black;
    // font-family: @heading;
    // font-weight: @bold;
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.25s;

    &:hover {
        opacity: 0.6;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: @heading;
    position: relative;
    font-weight: 500;
    color: #000;

    &.wp-ekr-heading {
        // wrapper styles
        box-sizing: content-box;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        @media (min-width: 960px) {
            padding-left: 40px;
            padding-right: 40px;
        }

        @media (min-width: 640px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

h1 {
    font-size: 132px;
    line-height: 118px;
    font-weight: 600;
}

h2 {
    font-size: 52px;
    line-height: 52px;
    margin: 20px 0 30px;
}

h3 {
    font-size: 32px;
    line-height: 52px;
}

.wp-block-columns {
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    .wp-ekr-heading, .wp-ekr-paragraph {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }

    @media @media-tablet {
        padding-left: 30px;
        padding-right: 30px;
    }

    &.wp-ekr-paragraph {
        @media @media-mobile {
            padding-left: 0;
            padding-right: 0;
        }
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}