@import url("https://use.typekit.net/bdb7oiz.css");
body,
html {
  font-family: proxima-nova, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}
p.subtitle {
  font-size: 20px;
  line-height: 30px;
  margin: 30px 0;
}
.fade-title {
  position: relative;
  color: #F2F2F2;
  margin: 0;
  font-size: 162px;
  line-height: 128px;
  z-index: -1;
}
.fade-title.left {
  margin-left: -10%;
}
.fade-title.right {
  text-align: right;
  margin-right: -10%;
}
a:hover {
  text-decoration: none;
}
p {
  font-size: 18px;
  line-height: 30px;
<<<<<<< HEAD
  color: #080A33;
=======
  color: #000000;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
p.wp-ekr-paragraph {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 960px) {
  p.wp-ekr-paragraph {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 640px) {
  p.wp-ekr-paragraph {
    padding-left: 30px;
    padding-right: 30px;
  }
}
a {
<<<<<<< HEAD
  color: #080A33;
=======
  color: #000000;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.25s;
}
<<<<<<< HEAD
=======
a:hover {
  opacity: 0.6;
}
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: 500;
  color: #000;
}
h1.wp-ekr-heading,
h2.wp-ekr-heading,
h3.wp-ekr-heading,
h4.wp-ekr-heading,
h5.wp-ekr-heading,
h6.wp-ekr-heading {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 960px) {
  h1.wp-ekr-heading,
  h2.wp-ekr-heading,
  h3.wp-ekr-heading,
  h4.wp-ekr-heading,
  h5.wp-ekr-heading,
  h6.wp-ekr-heading {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 640px) {
  h1.wp-ekr-heading,
  h2.wp-ekr-heading,
  h3.wp-ekr-heading,
  h4.wp-ekr-heading,
  h5.wp-ekr-heading,
  h6.wp-ekr-heading {
    padding-left: 30px;
    padding-right: 30px;
  }
}
h1 {
  font-size: 132px;
  line-height: 118px;
  font-weight: 600;
}
h2 {
  font-size: 52px;
  line-height: 52px;
  margin: 20px 0 30px;
}
h3 {
  font-size: 32px;
  line-height: 52px;
}
.wp-block-columns {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.wp-block-columns .wp-ekr-heading,
.wp-block-columns .wp-ekr-paragraph {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
}
@media only screen and (max-width: 960px) {
  .wp-block-columns {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .wp-block-columns.wp-ekr-paragraph {
    padding-left: 0;
    padding-right: 0;
  }
}
