@import url("https://use.typekit.net/bdb7oiz.css");
body,
html {
  font-family: proxima-nova, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}
p.subtitle {
  font-size: 20px;
  line-height: 30px;
  margin: 30px 0;
}
.fade-title {
  position: relative;
  color: #F2F2F2;
  margin: 0;
  font-size: 162px;
  line-height: 128px;
  z-index: -1;
}
.fade-title.left {
  margin-left: -10%;
}
.fade-title.right {
  text-align: right;
  margin-right: -10%;
}
a:hover {
  text-decoration: none;
}
p {
  font-size: 18px;
  line-height: 30px;
<<<<<<< HEAD
  color: #080A33;
=======
  color: #000000;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
p.wp-ekr-paragraph {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 960px) {
  p.wp-ekr-paragraph {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 640px) {
  p.wp-ekr-paragraph {
    padding-left: 30px;
    padding-right: 30px;
  }
}
a {
<<<<<<< HEAD
  color: #080A33;
=======
  color: #000000;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.25s;
}
<<<<<<< HEAD
=======
a:hover {
  opacity: 0.6;
}
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: 500;
  color: #000;
}
h1.wp-ekr-heading,
h2.wp-ekr-heading,
h3.wp-ekr-heading,
h4.wp-ekr-heading,
h5.wp-ekr-heading,
h6.wp-ekr-heading {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 960px) {
  h1.wp-ekr-heading,
  h2.wp-ekr-heading,
  h3.wp-ekr-heading,
  h4.wp-ekr-heading,
  h5.wp-ekr-heading,
  h6.wp-ekr-heading {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 640px) {
  h1.wp-ekr-heading,
  h2.wp-ekr-heading,
  h3.wp-ekr-heading,
  h4.wp-ekr-heading,
  h5.wp-ekr-heading,
  h6.wp-ekr-heading {
    padding-left: 30px;
    padding-right: 30px;
  }
}
h1 {
  font-size: 132px;
  line-height: 118px;
  font-weight: 600;
}
h2 {
  font-size: 52px;
  line-height: 52px;
  margin: 20px 0 30px;
}
h3 {
  font-size: 32px;
  line-height: 52px;
}
.wp-block-columns {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.wp-block-columns .wp-ekr-heading,
.wp-block-columns .wp-ekr-paragraph {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
}
@media only screen and (max-width: 960px) {
  .wp-block-columns {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .wp-block-columns.wp-ekr-paragraph {
    padding-left: 0;
    padding-right: 0;
  }
}
header {
  background: white;
  padding: 28px 0;
  border-bottom: 1px solid #F6F6F6;
<<<<<<< HEAD
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
header .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
<<<<<<< HEAD
header .menu li {
  position: relative;
}
header .menu li.menu-item-has-children {
  position: relative;
}
header .menu li.menu-item-has-children:hover .sub-menu {
  left: 0;
}
header .menu li a {
  color: #080A33;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 0 16px;
}
header .menu li i {
  position: absolute;
  top: 8px;
  right: 0;
}
=======
header .menu li a {
  color: #2E2E2E;
  font-weight: 500;
  font-size: 14px;
  padding: 0 16px;
}
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
header .menu li.is-blue a {
  color: #186BE7;
}
header .menu li.btn-orange {
  padding: 8px 10px;
  background: #FCA73B;
  margin-left: auto;
  margin-right: 8px;
<<<<<<< HEAD
  box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
  transition: all 0.25s;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
header .menu li.btn-orange a {
  color: white;
}
<<<<<<< HEAD
header .menu li.btn-orange:hover {
  background: #F37F27;
}
header .menu li.btn-blue {
  padding: 8px 10px;
  background: #186BE7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
=======
header .menu li.btn-blue {
  padding: 8px 10px;
  background: #186BE7;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
header .menu li.btn-blue a {
  color: white;
}
<<<<<<< HEAD
header .menu li.btn-blue:hover {
  background: #0046AE;
}
header .sub-menu {
  position: absolute;
  left: -999em;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 260px;
  list-style: none;
  z-index: 99;
}
header .sub-menu li a {
  border: none !important;
}
.uk-offcanvas-bar {
  background: #080A33;
}
.uk-offcanvas-bar ul.menu {
  list-style: none;
  margin: 50px 0 0 0;
  padding-left: 20px;
}
.uk-offcanvas-bar .uk-offcanvas-close svg {
  width: 20px;
  height: 20px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
footer.footer {
  padding: 60px 0;
  background-color: #fff;
}
footer.footer .col1 {
  margin: 20px 0 0 65px;
}
<<<<<<< HEAD
footer.footer .col1 a {
  color: #186BE7;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
footer.footer .social {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}
footer.footer .social li {
  display: inline-block;
  margin-right: 20px;
}
footer.footer .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer.footer .menu li {
  margin-bottom: 8px;
}
footer.footer .menu li a {
<<<<<<< HEAD
  color: #080A33;
=======
  color: #2E2E2E;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  font-size: 15px;
}
.copyright {
  padding: 10px 0;
  background: #F6F6F6;
  text-align: center;
}
.copyright p {
  margin: 0;
}
