<<<<<<< HEAD
@import './variables.less';
@import './global.less';

// HEADER
header {
    background: white;
    padding: 28px 0;
    border-bottom: 1px solid @silver;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;

        li {
            position: relative;

            &.menu-item-has-children {
                position: relative;

                &:hover {
                    .sub-menu {
                        left: 0;
                    }
                }
            }

            a {
                color: @black;
                font-weight: @med;
                font-size: 14px;
                line-height: 16px;
                padding: 0 16px;
            }

            i {
                position: absolute;
                top: 8px;
                right: 0;
            }

            &.is-blue {
                a {
                    color: @blue;
                }
            }

            &.btn-orange {
                padding: 8px 10px;
                background: @orange;
                margin-left: auto;
                margin-right: 8px;
                box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
                transition: all 0.25s;

                a {
                    color: white;
                }

                &:hover {
                    background: #F37F27;
                }
            }

            &.btn-blue {
                padding: 8px 10px;
                background: @blue;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                transition: all 0.25s;

                a {
                    color: white;
                }

                &:hover {
                    background: #0046AE;
                }
            }
        }
    }

    .sub-menu {
        position: absolute;
        left: -999em;
        background: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        min-width: 260px;
        list-style: none;
        z-index: 99;

        li {
            a {
                border: none !important;
            }
        }
    }
}

.uk-offcanvas-bar {
    background: @navy;

    ul.menu {
        list-style: none;
        margin: 50px 0 0 0;
        padding-left: 20px;
    }

    .uk-offcanvas-close {
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

// FOOTER

footer.footer {
    padding: 60px 0;
    background-color: #fff;

    .col1 {
        margin: 20px 0 0 65px;

        a {
            color: @blue;
        }
    }

    .social {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-right: 20px;
        }
    }

    .menu {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 8px;

            a {
                color: @navy;
                font-size: 15px;
            }
        }
    }
}

.copyright {
    padding: 10px 0;
    background: @silver;
    text-align: center;

    p {
        margin: 0;
    }
=======
@import './variables.less';
@import './global.less';
// HEADER
header {
    background: white;
    padding: 28px 0;
    border-bottom: 1px solid @silver;

    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;

        li {
            a {
                color: @dark;
                font-weight: @med;
                font-size: 14px;
                padding: 0 16px;
            }

            &.is-blue {
                a {
                    color: @blue;
                }
            }

            &.btn-orange {
                padding: 8px 10px;
                background: @orange;
                margin-left: auto;
                margin-right: 8px;
                a {
                    color: white;
                }
            }

            &.btn-blue {
                padding: 8px 10px;
                background: @blue;
                a {
                    color: white;
                }
            }
        }
    }
}

// FOOTER

footer.footer {
    padding: 60px 0;
    background-color: #fff;

    .col1 {
        margin: 20px 0 0 65px;
    }

    .social {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-right: 20px;
        }
    }

    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin-bottom: 8px;
            a {
                color: @dark;
                font-size: 15px;
            }
        }
    }
}
.copyright {
    padding: 10px 0;
    background: @silver;
    text-align: center;

    p {
        margin: 0;
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}