@import url("https://use.typekit.net/bdb7oiz.css");
@media only screen and (max-width: 1240px) {
  header .logo {
    max-width: 150px;
  }
  header .menu li a {
    font-size: 12px;
    padding: 0 13px;
  }
}
@media (max-width: 1005px) {
  header .menu li:last-child {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 55px;
  }
  h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .sub-menu {
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 16px;
  }
  .menu i {
    display: none;
  }
  .menu-icon {
    border: none;
    background-color: transparent;
    background: url(../img/hamburger.svg);
    width: 26px;
    height: 18px;
  }
  .wp-block-table::before {
    left: -300px;
  }
  .curriculum_page .nav-switcher {
    display: block;
    text-align: center;
  }
  .curriculum_page .nav-switcher li {
    height: 100px;
    display: inline-block;
  }
  .curriculum_page .nav-switcher li:first-child {
    min-width: 130px;
  }
  .curriculum_page .nav-switcher li a {
    font-size: 12px;
    line-height: 14px;
  }
  .curriculum_page .nav-switcher li img {
    max-width: 25px;
  }
  .curriculum_page .filters {
    float: none;
  }
  .curriculum_page .content .columned {
    column-gap: 10px;
  }
  .curriculum_page .content .uk-accordion-title {
    font-size: 16px;
  }
  .curriculum_page .content .uk-accordion-content p.credit {
    position: inherit;
    top: 0;
  }
  section.tc_banner_block {
    padding: 40px 0;
  }
  section.tc_banner_block .tc_banner_block__inner {
    min-height: 295px;
    width: 75%;
    margin: 0 auto;
  }
  section.tabbed_block {
    padding: 40px 0 120px;
  }
  section.tabbed_block .uk-subnav {
    display: block;
  }
  section.tabbed_block .uk-subnav li {
    margin-bottom: 5px;
  }
  section.tabbed_block .uk-subnav li a {
    min-width: inherit;
  }
  section.tabbed_block .people {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
  section.tabbed_block .people a {
    font-size: 13px;
    line-height: 20px;
  }
  .wp-block-columns.maintain {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }
  .wp-block-columns.maintain.is-style-vertical-center {
    text-align: center;
  }
  .wp-block-columns.maintain .wp-block-column {
    display: inline-block;
    min-width: 25%;
    margin: 0;
  }
  .wp-block-columns.maintain .wp-block-buttons.alignright {
    float: none;
  }
  section.tc_list img {
    min-width: 320px;
    max-width: 320px;
  }
  section.faq_block .text {
    padding-left: 0;
  }
  section.faq_block .faq-questions {
    top: 0;
    left: 0;
  }
  section.gallery_block .intro::before {
    height: 280px;
  }
  section.student_needs .needs {
    display: none;
  }
  section.slider_block .slick-slide.slick-center .slider_block__inner {
    min-height: 280px;
  }
  section.slider_block .slick-slide.slick-center .slider_block__name {
    max-height: 80px;
    padding: 10px;
  }
  section.slider_block .slider_block__name h3 {
    font-size: 20px;
    line-height: 24px;
  }
  section.slider_block .slider_block__name .icon-container {
    width: 50px;
    height: 45px;
    font-size: 13px;
    margin-right: 12px;
  }
  section.semester_block .date {
    left: 0;
  }
  section.semester_block .inner {
    text-align: center;
  }
  section.semester_block .inner h2 {
    font-size: 20px;
    line-height: 25px;
    max-width: inherit;
  }
  section.semester_block .img {
    height: 200px !important;
  }
  section.leadership_block .uk-grid {
    padding-left: 0;
  }
  section.school_classes {
    padding: 40px 0;
  }
  section.school_classes .bg {
    margin-bottom: 100px;
  }
  section.school_classes .bg .inner {
    padding: 20px 20px 20px 0;
  }
  section.image_icons .panel {
    bottom: -180px;
  }
  section.image_icons .icons p {
    font-size: 14px;
    line-height: 20px;
  }
  section.column_slider .slick-center .tc_banner_block__inner {
    min-height: 370px;
  }
  section.column_slider .panel {
    position: relative;
    min-height: inherit;
    bottom: -40px;
  }
  section.image_parallax_2 .badge {
    right: -20px;
  }
  section.locations_block .places .uk-grid {
    margin-left: 0;
    margin-right: 30px;
  }
  .blog-grid article:first-child {
    grid-column: 1 / span 3;
  }
  footer.footer .uk-grid-margin {
    margin-top: 55px;
  }
}
@media only screen and (max-width: 767px) {
  p {
    font-size: 15px;
    line-height: 22px;
  }
  p.is-style-container-small {
    margin: 0;
  }
  .gform_wrapper .half {
    width: 100%;
  }
  .gform_wrapper .icon-email .ginput_container::after {
    top: 56px;
  }
  .gform_wrapper input[type=submit] {
    max-width: 180px;
  }
  .wp-block-spacer {
    height: 15px !important;
  }
  .wp-block-columns .wp-block-column:last-child {
    margin-top: 30px;
  }
  .wp-block-button .wp-block-button__link {
    padding: 10px 15px;
  }
  .wp-block-table td {
    padding: 10px;
    line-height: 20px;
    width: 60%;
  }
  .wp-block-table::before {
    display: none;
  }
  section.column_slider {
    padding: 40px 0;
  }
  section.column_slider .panel {
    position: relative;
    padding: 15px;
    min-width: inherit;
    min-height: inherit;
    margin-right: 50px;
  }
  section.column_slider .tc_banner_block__inner {
    min-height: 190px;
  }
  section.column_slider .slick-center .tc_banner_block__inner {
    min-height: 220px;
    margin: 0 20px;
  }
  section.tc_links .bg {
    padding: 110px 25px 20px;
    min-height: 350px;
    background-position: center bottom !important;
  }
  section.leadership_block .img3 {
    top: 0;
    min-height: 200px !important;
    margin-right: 0;
  }
  section.leadership_block .img1,
  section.leadership_block .img2 {
    display: none;
  }
  section.leadership_block .inner .text {
    padding-bottom: 20px;
    margin: 0 20px;
    padding-top: 20px;
  }
  section.banner_block {
    background-position: right center !important;
  }
  section.banner_block br {
    display: none;
  }
  section.image_slider .slick-slide img {
    margin: 0 auto;
  }
  section.slider_block {
    padding: 40px 0;
  }
  section.slider_block .slick-slide.slick-center .slider_block__inner {
    min-height: 260px;
  }
  section.slider_block .slick-slide.slick-center .slider_block__inner .slider_block__name {
    max-height: 65px;
  }
  section.slider_block .slider_block__inner .slider_block__name {
    padding: 10px;
    max-height: 70px;
    max-height: 65px;
  }
  section.slider_block .slider_block__inner .slider_block__name h3 {
    font-size: 18px;
  }
  section.slider_block .slider_block__inner .slider_block__name .icon-container {
    width: 50px;
    height: 45px;
    font-size: 13px;
  }
  section.student_needs .needs {
    display: none;
  }
  section.student_needs .list {
    max-width: inherit;
    margin: 0 25px;
    padding: 20px 10px;
    margin-top: -60px;
  }
  section.student_needs .list p {
    font-size: 14px;
  }
  section.image_parallax h2 {
    font-size: 35px;
    line-height: 40px;
  }
  section.tc_banner_block .tc_banner_block__inner {
    width: 100%;
    min-height: 240px;
  }
  section.counter_block h2 {
    font-size: 45px;
  }
  section.tc_list img {
    min-width: 320px;
  }
  section.tc_list .uk-flex {
    display: block;
  }
  section.tc_list .text {
    padding: 0;
  }
  section.tabbed_block {
    padding: 20px 0;
  }
  section.tabbed_block .uk-switcher .uk-switcher__bg {
    min-height: 320;
  }
  section.tabbed_block .uk-switcher .uk-switcher__text {
    bottom: 0;
  }
  section.tabbed_block .people {
    display: block;
    padding: 0;
    text-align: center;
  }
  section.tabbed_block .people img {
    max-width: 140px;
  }
  section.tabbed_block .people div {
    margin-bottom: 25px0;
  }
  section.tabbed_block .people div a {
    font-size: 11px;
  }
  section.gallery_block .is-white {
    background: white;
  }
  section.gallery_block .gallery .slick-arrow {
    top: 100%;
  }
  section.gallery_block .gallery .slick-arrow.slick-prev {
    left: 0;
  }
  section.gallery_block .gallery .slick-arrow.slick-next {
    right: 0;
  }
  section.school_classes .bg {
    padding-top: 40px;
  }
  section.school_classes .bg .inner {
    max-width: 90%;
  }
  section.image_icons {
    padding: 60px 0 20px;
  }
  section.image_icons .panel {
    position: relative;
    bottom: 0;
    max-width: 100%;
    padding: 0;
  }
  section.image_icons .img-container::after {
    top: -60px;
    height: 226px;
  }
  section.locations_block h2 {
    font-size: 40px;
    line-height: 50px;
  }
  section.locations_block .intro {
    max-width: inherit;
    padding-top: 60px;
  }
  section.locations_block .places {
    padding: 15px;
    margin-bottom: -140px;
  }
  section.locations_block .places .uk-grid {
    margin-left: 0;
    margin-right: 0;
  }
  section.image_parallax_2 .uk-flex {
    display: block;
  }
  section.image_parallax_2 .img-container,
  section.image_parallax_2 .parallax {
    transform: none !important;
    margin-left: 20px;
  }
  section.image_parallax_2 .img-container.last {
    margin-top: 100px;
  }
  section.image_parallax_2 .badge {
    right: 0;
  }
  .single-post .intro span {
    font-size: 11px;
    display: block;
  }
  .single-post .intro .text-container {
    margin-top: 25px;
  }
  .single-post .main-content {
    padding: 20px 0;
  }
  .blog-grid {
    display: block;
  }
  .blog-grid article {
    margin-bottom: 10px;
  }
  footer.footer .col1 {
    margin: 30px 0;
    text-align: center;
  }
  footer.footer .uk-grid-margin {
    margin-top: 15px;
  }
}
