@import './variables.less';

@media @media-desktop {
    header {
        .logo {
            max-width: 150px;
        }

        .menu {
            li {
                a {
                    font-size: 12px;
                    padding: 0 13px;
                }
            }
        }
    }
}

@media (max-width: 1005px) {
    header {
        .menu {
            li:last-child {
                display: none;
            }
        }
    }
}

@media @media-tablet {
    h1 {
        font-size: 50px;
        line-height: 55px;
    }

    h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .sub-menu {
        list-style: none;
        margin: 0;
        padding: 0 0 0 20px;
        font-size: 16px;
    }

    .menu {
        i {
            display: none;
        }
    }

    .menu-icon {
        border: none;
        background-color: transparent;
        background: url(./../img/hamburger.svg);
        width: 26px;
        height: 18px;
    }

    .wp-block-table::before {
        left: -300px
    }

    .curriculum_page {
        .nav-switcher {
            display: block;
            text-align: center;

            li {
                &:first-child {
                    min-width: 130px;
                }
                height: 100px;
                display: inline-block;

                a {
                    font-size: 12px;
                    line-height: 14px;
                }

                img {
                    max-width: 25px;
                }
            }
        }

        .filters {
            float: none
        }

        .content {
            .columned {
                column-gap: 10px;
            }

            .uk-accordion-title {
                font-size: 16px;
            }
            
            .uk-accordion-content {
                p.credit {
                    position: inherit;
                    top: 0;
                }
            }
        }
    }

    section.tc_banner_block {
        padding: 40px 0;

        .tc_banner_block__inner {
            min-height: 295px;
            width: 75%;
            margin: 0 auto;
        }
    }

    section.tabbed_block {
        padding: 40px 0 120px;

        .uk-subnav {
            display: block;

            li {
                margin-bottom: 5px;

                a {
                    min-width: inherit;
                }
            }
        }

        .people {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;

            a {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

    .wp-block-columns.maintain {
        display: block;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;

        &.is-style-vertical-center {
            text-align: center;
        }

        .wp-block-column {
            display: inline-block;
            min-width: 25%;
            margin: 0;
        }

        .wp-block-buttons.alignright {
            float: none;
        }
    }

    section.tc_list {
        img {
            min-width: 320px;
            max-width: 320px;
        }
    }

    section.faq_block {
        .text {
            padding-left: 0;
        }

        .faq-questions {
            top: 0;
            left: 0;
        }
    }

    section.gallery_block {
        .intro::before {
            height: 280px;
        }
    }

    section.student_needs {
        .needs {
            display: none;
        }
    }

    section.slider_block {
        .slick-slide.slick-center {
            .slider_block__inner {
                min-height: 280px;
            }

            .slider_block__name {
                max-height: 80px;
                padding: 10px;
            }
        }

        .slider_block__name {
            h3 {
                font-size: 20px;
                line-height: 24px;
            }

            .icon-container {
                width: 50px;
                height: 45px;
                font-size: 13px;
                margin-right: 12px;
            }
        }
    }

    section.semester_block {
        .date {
            left: 0;
        }

        .inner {
            text-align: center;

            h2 {
                font-size: 20px;
                line-height: 25px;
                max-width: inherit;
            }
        }

        .img {
            height: 200px !important;
        }
    }

    section.leadership_block {
        .uk-grid {
            padding-left: 0;
        }
    }

    section.school_classes {
        padding: 40px 0;

        .bg {
            margin-bottom: 100px;

            .inner {
                padding: 20px 20px 20px 0;
            }
        }
    }

    section.image_icons {
        .panel {
            bottom: -180px;
        }

        .icons {
            p {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    section.column_slider {
        .slick-center {
            .tc_banner_block__inner {
                min-height: 370px;
            }
        }

        .panel {
            position: relative;
            min-height: inherit;
            bottom: -40px;
        }
    }

    section.image_parallax_2 {
        .badge {
            right: -20px;
        }
    }

    section.locations_block {
        .places {
            .uk-grid {
                margin-left: 0;
                margin-right: 30px;
            }
        }
    }

    .blog-grid {
        article:first-child {
            grid-column: ~"1 / span 3"
        }
    }

    footer.footer {
        .uk-grid-margin {
            margin-top: 55px;
        }
    }

}

@media @media-mobile {
    p {
        font-size: 15px;
        line-height: 22px;

        &.is-style-container-small {
            margin: 0;
        }
    }

    .gform_wrapper .half {
        width: 100%;
    }

    .gform_wrapper .icon-email .ginput_container::after {
        top: 56px;
    }

    .gform_wrapper input[type=submit] {
        max-width: 180px;
    }

    .wp-block-spacer {
        height: 15px !important;
    }

    .wp-block-columns {
        .wp-block-column:last-child {
            margin-top: 30px;
        }
    }

    .wp-block-button .wp-block-button__link {
        padding: 10px 15px;
    }

    .wp-block-table {
        td {
            padding: 10px;
            line-height: 20px;
            width: 60%;
        }

        &::before {
            display: none;
        }
    }

    section.column_slider {
        padding: 40px 0;

        .panel {
            position: relative;
            padding: 15px;
            min-width: inherit;
            min-height: inherit;
            margin-right: 50px;
        }

        .tc_banner_block__inner {
            min-height: 190px;
        }

        .slick-center {
            .tc_banner_block__inner {
                min-height: 220px;
                margin: 0 20px;
                ;
            }
        }
    }

    section.tc_links {
        .bg {
            padding: 110px 25px 20px;
            min-height: 350px;
            background-position: center bottom !important;
        }
    }

    section.leadership_block {
        .img3 {
            top: 0;
            min-height: 200px !important;
            margin-right: 0;
        }

        .img1,.img2 {
            display: none;
        }

        .inner {
            .text {
                padding-bottom: 20px;
                margin: 0 20px;
                padding-top: 20px;
            }
        }
    }

    section.banner_block {
        background-position: right center !important;

        br {
            display: none;
        }
    }

    section.image_slider {
        .slick-slide {
            img {
                margin: 0 auto;
            }
        }
    }

    section.slider_block {
        padding: 40px 0;

        .slick-slide.slick-center {
            .slider_block__inner {
                min-height: 260px;
                .slider_block__name {
                    max-height: 65px;
                }
            }
        }

        .slider_block__inner {

            .slider_block__name {
                padding: 10px;
                max-height: 70px;
                max-height: 65px;

                h3 {
                    font-size: 18px;
                }

                .icon-container {
                    width: 50px;
                    height: 45px;
                    font-size: 13px;
                }
            }
        }
    }

    section.student_needs {
        .needs {
            display: none;
        }

        .list {
            max-width: inherit;
            margin: 0 25px;
            padding: 20px 10px;
            margin-top: -60px;

            p {
                font-size: 14px;
            }
        }
    }

    section.image_parallax {
        h2 {
            font-size: 35px;
            line-height: 40px;
        }
    }

    section.tc_banner_block {
        .tc_banner_block__inner {
            width: 100%;
            min-height: 240px;
        }
    }

    section.counter_block {
        h2 {
            font-size: 45px;
        }
    }

    section.tc_list {
        img {
            min-width: 320px;
        }

        .uk-flex {
            display: block;
        }

        .text {
            padding: 0;
        }
    }

    section.tabbed_block {
        padding: 20px 0;

        .uk-switcher {
            .uk-switcher__bg {
                min-height: 320;
            }

            .uk-switcher__text {
                bottom: 0;
            }
        }

        .people {
            display: block;
            padding: 0;
            text-align: center;

            img {
                max-width: 140px;
            }

            div {
                margin-bottom: 25px0;

                a {
                    font-size: 11px;
                }
            }
        }
    }

    section.gallery_block {
        .is-white {
            background: white;
        }

        .gallery {
            .slick-arrow {
                top: 100%;
                &.slick-prev {
                    left: 0;
                }

                &.slick-next {
                    right: 0;
                }
            }
        }
    }

    section.school_classes {
        .bg {
            padding-top: 40px;

            .inner {
                max-width: 90%;
            }
        }
    }

    section.image_icons {
        padding: 60px 0 20px;

        .panel {
            position: relative;
            bottom: 0;
            max-width: 100%;
            padding: 0;
        }

        .img-container::after {
            top: -60px;
            height: 226px;
        }
    }

    section.locations_block {
        h2 {
            font-size: 40px;
            line-height: 50px;
        }

        .intro {
            max-width: inherit;
            padding-top: 60px;
        }

        .places {
            padding: 15px;
            margin-bottom: -140px;

            .uk-grid {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    section.image_parallax_2 {
        .uk-flex {
            display: block;
        }

        .img-container,
        .parallax {
            transform: none !important;
            margin-left: 20px;
        }

        .img-container.last {
            margin-top: 100px;
        }

        .badge {
            right: 0;
        }
    }

    .single-post {
        .intro {
            span {
                font-size: 11px;
                display: block;
            }

            .text-container {
                margin-top: 25px;
            }
        }

        .main-content {
            padding: 20px 0;
        }
    }

    .blog-grid {
        display: block;

        article {
            margin-bottom: 10px;
        }
    }

    footer.footer {
        .col1 {
            margin: 30px 0;
            text-align: center;
        }

        .uk-grid-margin {
            margin-top: 15px;
        }
    }
}