@import url("https://use.typekit.net/bdb7oiz.css");
<<<<<<< HEAD
@import '../blocks/image-parallax-2/image-parallax-2.css';
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
body,
html {
  font-family: proxima-nova, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}
p.subtitle {
  font-size: 20px;
  line-height: 30px;
  margin: 30px 0;
}
.fade-title {
  position: relative;
  color: #F2F2F2;
  margin: 0;
  font-size: 162px;
  line-height: 128px;
  z-index: -1;
}
.fade-title.left {
  margin-left: -10%;
}
.fade-title.right {
  text-align: right;
  margin-right: -10%;
}
a:hover {
  text-decoration: none;
}
p {
  font-size: 18px;
  line-height: 30px;
<<<<<<< HEAD
  color: #080A33;
=======
  color: #000000;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
p.wp-ekr-paragraph {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 960px) {
  p.wp-ekr-paragraph {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 640px) {
  p.wp-ekr-paragraph {
    padding-left: 30px;
    padding-right: 30px;
  }
}
a {
<<<<<<< HEAD
  color: #080A33;
=======
  color: #000000;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.25s;
}
<<<<<<< HEAD
=======
a:hover {
  opacity: 0.6;
}
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: 500;
  color: #000;
}
h1.wp-ekr-heading,
h2.wp-ekr-heading,
h3.wp-ekr-heading,
h4.wp-ekr-heading,
h5.wp-ekr-heading,
h6.wp-ekr-heading {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 960px) {
  h1.wp-ekr-heading,
  h2.wp-ekr-heading,
  h3.wp-ekr-heading,
  h4.wp-ekr-heading,
  h5.wp-ekr-heading,
  h6.wp-ekr-heading {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 640px) {
  h1.wp-ekr-heading,
  h2.wp-ekr-heading,
  h3.wp-ekr-heading,
  h4.wp-ekr-heading,
  h5.wp-ekr-heading,
  h6.wp-ekr-heading {
    padding-left: 30px;
    padding-right: 30px;
  }
}
h1 {
  font-size: 132px;
  line-height: 118px;
  font-weight: 600;
}
h2 {
  font-size: 52px;
  line-height: 52px;
  margin: 20px 0 30px;
}
h3 {
  font-size: 32px;
  line-height: 52px;
}
.wp-block-columns {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.wp-block-columns .wp-ekr-heading,
.wp-block-columns .wp-ekr-paragraph {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
}
@media only screen and (max-width: 960px) {
  .wp-block-columns {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .wp-block-columns.wp-ekr-paragraph {
    padding-left: 0;
    padding-right: 0;
  }
}
header {
  background: white;
  padding: 28px 0;
  border-bottom: 1px solid #F6F6F6;
<<<<<<< HEAD
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
header .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
<<<<<<< HEAD
header .menu li {
  position: relative;
}
header .menu li.menu-item-has-children {
  position: relative;
}
header .menu li.menu-item-has-children:hover .sub-menu {
  left: 0;
}
header .menu li a {
  color: #080A33;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 0 16px;
}
header .menu li i {
  position: absolute;
  top: 8px;
  right: 0;
}
=======
header .menu li a {
  color: #2E2E2E;
  font-weight: 500;
  font-size: 14px;
  padding: 0 16px;
}
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
header .menu li.is-blue a {
  color: #186BE7;
}
header .menu li.btn-orange {
  padding: 8px 10px;
  background: #FCA73B;
  margin-left: auto;
  margin-right: 8px;
<<<<<<< HEAD
  box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
  transition: all 0.25s;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
header .menu li.btn-orange a {
  color: white;
}
<<<<<<< HEAD
header .menu li.btn-orange:hover {
  background: #F37F27;
}
header .menu li.btn-blue {
  padding: 8px 10px;
  background: #186BE7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
=======
header .menu li.btn-blue {
  padding: 8px 10px;
  background: #186BE7;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
header .menu li.btn-blue a {
  color: white;
}
<<<<<<< HEAD
header .menu li.btn-blue:hover {
  background: #0046AE;
}
header .sub-menu {
  position: absolute;
  left: -999em;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 260px;
  list-style: none;
  z-index: 99;
}
header .sub-menu li a {
  border: none !important;
}
.uk-offcanvas-bar {
  background: #080A33;
}
.uk-offcanvas-bar ul.menu {
  list-style: none;
  margin: 50px 0 0 0;
  padding-left: 20px;
}
.uk-offcanvas-bar .uk-offcanvas-close svg {
  width: 20px;
  height: 20px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
footer.footer {
  padding: 60px 0;
  background-color: #fff;
}
footer.footer .col1 {
  margin: 20px 0 0 65px;
}
<<<<<<< HEAD
footer.footer .col1 a {
  color: #186BE7;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
footer.footer .social {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}
footer.footer .social li {
  display: inline-block;
  margin-right: 20px;
}
footer.footer .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer.footer .menu li {
  margin-bottom: 8px;
}
footer.footer .menu li a {
<<<<<<< HEAD
  color: #080A33;
=======
  color: #2E2E2E;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  font-size: 15px;
}
.copyright {
  padding: 10px 0;
  background: #F6F6F6;
  text-align: center;
}
.copyright p {
  margin: 0;
}
html,
body {
  font-size: 16px;
  line-height: 1.3;
  line-height: 30px;
  font-family: proxima-nova, sans-serif;
  font-style: 400;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
<<<<<<< HEAD
  color: #080A33;
  font-family: proxima-nova, sans-serif;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  color: #186BE7;
}
h1 span.yellow,
h2 span.yellow,
h3 span.yellow,
h4 span.yellow,
h5 span.yellow,
h6 span.yellow {
  color: #FCA73B;
}
<<<<<<< HEAD
h1 {
  font-size: 70px;
  line-height: 118px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
h2 {
  font-size: 45px;
  line-height: 55px;
}
h3 {
  font-size: 34px;
  line-height: 44px;
}
h4 {
  font-size: 20px;
<<<<<<< HEAD
  line-height: 25px;
}
p {
  font-size: 16px;
  color: #080A33;
=======
  line-height: 30px;
}
p {
  font-size: 16px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  line-height: 26px;
}
p a {
  font-size: inherit;
}
<<<<<<< HEAD
p.is-style-with-caret::after {
  content: "";
  background: url(../img/link-arrow.svg) no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.is-blue {
  color: #186BE7;
  margin-right: 8px;
}
main.has-bg-design {
  background: url(../img/top-graphic.png) no-repeat;
  background-position: right 100px;
}
.error-page {
  padding: 150px 0;
}
.uk-accordion-title {
  color: #080A33;
}
.curriculum_page {
  padding-top: 60px;
}
.curriculum_page .search-container {
  position: relative;
  margin-bottom: 25px;
  min-height: 25px;
}
.curriculum_page .search-container .search {
  position: absolute;
  right: 0;
}
.curriculum_page .search-container .search input.search-input {
  border: 1px solid #C5C5C5;
  padding: 5px 10px;
  min-width: 280px;
  padding-right: 30px;
}
.curriculum_page .search-container .search button {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  top: 5px;
}
.curriculum_page .search-container .search i {
  color: #186BE7;
}
.curriculum_page .filters {
  float: right;
  margin-top: 25px;
}
.curriculum_page .filters p {
  margin: 0 25px 0 0;
  font-size: 12px;
  font-weight: 800;
}
.curriculum_page .filters .input-check {
  margin-left: 15px;
}
.curriculum_page .nav-switcher {
  display: flex;
  justify-content: space-between;
=======
.curriculum_page .nav-switcher {
  display: flex;
  justify-content: space-evenly;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.curriculum_page .nav-switcher li {
  position: relative;
  background: #F6F6F6;
  text-align: center;
  min-width: 130px;
  height: 130px;
}
.curriculum_page .nav-switcher li.uk-active {
  background: #FCA73B;
<<<<<<< HEAD
  box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
}
.curriculum_page .nav-switcher li.uk-active a {
  color: white;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.curriculum_page .nav-switcher li:first-child {
  min-width: 330px;
}
.curriculum_page .nav-switcher li a {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.curriculum_page .nav-switcher li a:focus,
.curriculum_page .nav-switcher li a:active {
  outline: none;
}
.curriculum_page .nav-switcher li img {
  display: block;
  margin: 0 auto 10px;
}
.curriculum_page .content {
  padding: 80px 0;
}
.curriculum_page .content .uk-accordion-title {
  font-size: 18px;
}
.curriculum_page .content .uk-accordion-title::before {
  content: "";
  float: left;
  background-image: url(../img/accordion-cross.svg);
  width: 20px;
<<<<<<< HEAD
  height: 28px;
=======
  height: 20px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  margin: 0 25px 0 0;
  transition: all 0.25s;
}
.curriculum_page .content .uk-accordion-content {
  margin-top: 5px;
  padding-left: 45px;
<<<<<<< HEAD
  position: relative;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.curriculum_page .content .uk-accordion-content p {
  font-size: 14px;
  line-height: 22px;
}
<<<<<<< HEAD
.curriculum_page .content .uk-accordion-content p.credit {
  position: absolute;
  top: -31px;
  right: 0;
  font-size: 18px;
  opacity: 0.8;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.curriculum_page .content .uk-accordion-content p.meta {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.curriculum_page .content .columned {
  column-count: 2;
  column-gap: 90px;
}
.curriculum_page .content .columned li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
<<<<<<< HEAD
=======
  padding: 25px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.curriculum_page .content .columned li.uk-open {
  border: 1px solid #F6F6F6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
  padding: 25px;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.curriculum_page .content .columned li.uk-open .uk-accordion-title::before {
  transform: rotate(45deg);
}
<<<<<<< HEAD
.gform_wrapper li.gfield.gfield_error {
  padding-right: 16px !important;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.gform_wrapper {
  max-width: 650px !important;
  margin: 0 auto;
}
.gform_wrapper .half {
<<<<<<< HEAD
  width: 50% !important;
  display: inline-block !important;
}
.gform_wrapper .half input {
  max-width: 310px;
=======
  width: 50%;
  display: inline-block;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.gform_wrapper label {
  font-size: 12px !important;
  font-weight: 700 !important;
  letter-spacing: normal !important;
  margin: 0 !important;
<<<<<<< HEAD
  color: #080A33;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.gform_wrapper input,
.gform_wrapper select,
.gform_wrapper textarea {
  border: 1px solid #C5C5C5;
  background-color: transparent;
  box-shadow: 0 0 4px rgba(100, 100, 100, 0.1);
  padding: 10px !important;
}
.gform_wrapper input:focus,
.gform_wrapper select:focus,
.gform_wrapper textarea:focus,
.gform_wrapper input:active,
.gform_wrapper select:active,
.gform_wrapper textarea:active {
  outline: none;
  border-left: 6px solid #FCA73B;
}
<<<<<<< HEAD
.gform_wrapper select {
  color: #080A33;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.gform_wrapper .gform_footer {
  text-align: center;
}
.gform_wrapper input[type=submit] {
  display: inline-block;
  min-width: 160px;
  padding: 15px 25px !important;
  position: relative;
  border: none !important;
  z-index: 2;
  font-size: 16px;
  border-radius: 0;
  background: #FCA73B;
  color: white;
  box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
}
.gform_wrapper .icon-email {
  position: relative;
}
.gform_wrapper .icon-email .ginput_container::after {
  content: "";
  background: url(../img/icon-email.svg) no-repeat;
  width: 22px;
  height: 17px;
  display: block;
  position: absolute;
  right: 24px;
  top: 50px;
}
.gform_wrapper .icon-phone {
  position: relative;
}
.gform_wrapper .icon-phone .ginput_container::after {
  content: "";
  background: url(../img/icon-phone.svg) no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  right: 24px;
  top: 50px;
}
.gform_wrapper .icon-calendar {
  position: relative;
}
.gform_wrapper .icon-calendar .ginput_container::after {
  content: "";
  background: url(../img/icon-calendar.svg) no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  right: 24px;
  top: 50px;
}
<<<<<<< HEAD
.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background: transparent !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.notification {
  text-align: center;
  background: #186BE7;
  padding: 5px 0;
}
.notification p {
  margin: 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}
.pagination {
  text-align: center;
  margin-top: 80px;
}
.pagination .page-numbers {
  position: relative;
  color: #186BE7;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin: 0 10px;
}
.pagination .page-numbers.current {
  color: #080A33;
}
.pagination .pag-left {
  background: url(../img/arrow-blue-left.svg) no-repeat;
  width: 45px;
  height: 45px;
  background-size: 100%;
  display: inline-block;
  position: absolute;
  top: -9px;
  left: -40px;
}
.pagination .pag-right {
  background: url(../img/arrow-blue.svg) no-repeat;
  width: 45px;
  height: 45px;
  background-size: 100%;
  display: inline-block;
  position: absolute;
  top: -9px;
}
.posts__page .headline {
  padding: 80px 0;
}
.posts__page .headline h1 {
  font-size: 45px;
  line-height: 55px;
}
.posts__page .top-graphic {
  position: absolute;
  top: 0;
  right: -180px;
  background: url(../img/top-graphic.png) no-repeat;
  z-index: -1;
  width: 800px;
  height: 800px;
}
.posts__page .bottom-graphic {
  position: absolute;
  top: 1120px;
  left: -180px;
  background: url(../img/bottom-graphic.png) no-repeat;
  z-index: -1;
  width: 800px;
  height: 800px;
}
.single-post .main-content {
  padding: 50px 0;
}
.single-post .main-content .uk-container-small {
  max-width: 600px;
}
.single-post .intro {
  padding: 50px 0;
}
.single-post .intro .img-container {
  position: relative;
}
.single-post .intro .img-container::after {
  content: "";
  background: #F6F6F6;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -40px;
  top: 40px;
  z-index: -1;
}
.single-post .intro .text-container {
  padding-left: 60px;
}
@media only screen and (max-width: 767px) {
  .single-post .intro .text-container {
    padding-left: 0;
  }
}
.single-post .intro .text-container .share a {
  color: #186BE7 !important;
  font-size: 26px;
  margin-right: 20px;
}
.single-post .intro span {
  font-size: 14px;
  text-transform: uppercase;
  color: #080A33;
  font-weight: 600;
  display: inline-block;
  margin-right: 25px;
}
.single-post.class .intro .text-container {
  padding-left: 40px;
}
.single-post.class h2 {
  margin-bottom: 5px;
}
.single-post.class .class-description {
  margin-top: 50px;
}
.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.blog-grid article:first-child {
  grid-column: 1 / span 2;
}
.blog-grid article:first-child .inner::after {
  content: "";
  background: #ffad3e;
  background: -moz-linear-gradient(180deg, rgba(255, 173, 62, 0) 0%, rgba(224, 92, 22, 0.62508754) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 173, 62, 0) 0%, rgba(224, 92, 22, 0.62508754) 100%);
  background: linear-gradient(180deg, rgba(255, 173, 62, 0) 0%, rgba(224, 92, 22, 0.62508754) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.blog-grid article:first-child .preview-content {
  max-width: 610px;
}
.blog-grid article:first-child .preview-content h2 {
  font-size: 35px;
  line-height: 40px;
}
.blog-grid .preview-content a {
  font-size: 14px;
  font-weight: 600;
}
.blog-grid .preview-content a i {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
.post {
  position: relative;
}
.post .inner {
  height: 100%;
  min-height: 360px;
}
.post .inner::after {
  content: "";
  background: #080a33;
  background: -moz-linear-gradient(180deg, rgba(8, 10, 51, 0) 10%, #080a33 80%);
  background: -webkit-linear-gradient(180deg, rgba(8, 10, 51, 0) 10%, #080a33 80%);
  background: linear-gradient(180deg, rgba(8, 10, 51, 0) 10%, #080a33 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#080a33", endColorstr="#080a33", GradientType=1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.post .preview-content {
  position: absolute;
  bottom: 30px;
  left: 40px;
  z-index: 2;
}
.post .preview-content h2,
.post .preview-content a,
.post .preview-content span {
  color: white;
}
.post .preview-content span {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.post .preview-content h2 {
  margin: 15px 0;
  font-size: 20px;
  line-height: 25px;
}
.post .preview-content h2 a {
  font-size: inherit;
}
body.search-results .headline {
  padding-bottom: 20px;
}
body.search-results .date {
  display: none;
}
body.search-results article {
  display: block;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
section.counter_block {
  padding: 70px 0;
  background: #080A33;
}
section.counter_block p,
section.counter_block h2 {
  color: #FCA73B;
}
section.counter_block h2 {
  margin: 0;
  font-size: 60px;
}
section.slider_block {
  background: #F6F6F6;
  padding: 50px 0;
}
<<<<<<< HEAD
section.slider_block a:hover {
  opacity: 1 !important;
}
section.slider_block a:hover h3 {
  opacity: 0.5;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
section.slider_block .uk-text-center {
  margin-bottom: 60px;
}
section.slider_block .uk-container-fluid {
  padding-left: 3%;
  padding-right: 3%;
}
section.slider_block .slick-dots {
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
section.slider_block .slick-dots li {
  display: inline-block;
  margin: 0 8px;
}
section.slider_block .slick-dots li button {
  background: white;
  border: 1px solid #FCA73B;
  width: 15px;
  height: 15px;
  text-indent: -999em;
  border-radius: 15px;
}
<<<<<<< HEAD
section.slider_block .slick-dots li button:active {
  outline: none;
}
=======
section.slider_block .slick-dots li button:active,
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
section.slider_block .slick-dots li button:focus {
  outline: none;
}
section.slider_block .slick-dots li.slick-active button {
  background: #FCA73B;
}
section.slider_block .slick-track {
  display: flex;
  align-items: center;
}
section.slider_block .slider_block__inner {
  min-height: 250px;
  position: relative;
  z-index: 5;
  margin: 10px 0;
}
section.slider_block .slider_block__inner .slider_block__name {
  background: -moz-linear-gradient(left, rgba(224, 92, 22, 0.8) 0%, rgba(255, 173, 62, 0.8) 100%);
  background: -webkit-linear-gradient(left, rgba(224, 92, 22, 0.8) 0%, rgba(255, 173, 62, 0.8) 100%);
  background: linear-gradient(to right, rgba(224, 92, 22, 0.8) 0%, rgba(255, 173, 62, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99e05c16', endColorstr='#99ffad3e', GradientType=1);
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 35px;
}
section.slider_block .slider_block__inner .slider_block__name h3 {
  color: white;
  margin: 0;
}
section.slider_block .slider_block__inner .slider_block__name .icon-container {
  background: #FCA73B;
  padding: 10px;
  text-align: center;
  position: relative;
  width: 70px;
  height: 65px;
  font-size: 23px;
  margin-right: 25px;
}
section.slider_block .slider_block__inner .slider_block__name .icon-container i {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.slider_block .slick-slide {
  position: relative;
}
section.slider_block .slick-slide.slick-center .slider_block__inner {
  position: relative;
  min-height: 330px;
  z-index: 10;
  transform: scale(1.08);
}
section.slider_block .slick-slide.slick-center .slider_block__inner .slider_block__name {
  max-height: 100px;
}
section.tabbed_block {
  padding: 110px 0 180px;
  background: #F6F6F6;
  position: relative;
}
section.tabbed_block .uk-subnav {
  margin-bottom: 45px;
}
<<<<<<< HEAD
section.tabbed_block .uk-subnav li {
  margin-bottom: 10px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
section.tabbed_block .uk-subnav a {
  display: block;
  min-width: 160px;
  padding: 10px 25px;
  position: relative;
  z-index: 2;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0;
  background: white;
  color: #FCA73B;
  text-align: center;
  text-transform: none;
  box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
}
section.tabbed_block .uk-subnav a i {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
section.tabbed_block .uk-subnav li.uk-active a {
  background: #FCA73B;
  color: white;
}
section.tabbed_block .uk-switcher {
  position: relative;
  min-height: 400px;
}
<<<<<<< HEAD
section.tabbed_block .uk-switcher .wp-block-button {
  min-width: 160px;
}
section.tabbed_block .uk-switcher .uk-switcher__bg {
  min-height: 400px;
  width: 100%;
  position: relative;
}
section.tabbed_block .uk-switcher .uk-switcher__text {
  background: white;
  padding: 2em;
  max-width: 460px;
  position: absolute;
  bottom: -140px;
}
section.tabbed_block .uk-switcher .uk-switcher__text .wp-block-button__link {
  min-width: 160px;
  padding: 10px 25px;
}
section.tabbed_block .uk-switcher .uk-switcher__text .wp-block-button__link i {
=======
section.tabbed_block .uk-switcher .uk-switcher__bg {
  min-height: 400px;
  position: absolute;
  width: 100%;
}
section.tabbed_block .uk-switcher .uk-switcher__text {
  background: #F6F6F6;
  padding: 2em;
  max-width: 460px;
  position: absolute;
  bottom: -120px;
}
section.tabbed_block .uk-switcher .wp-block-button,
section.tabbed_block .uk-switcher .wp-block-button__link {
  min-width: 160px;
}
section.tabbed_block .uk-switcher .wp-block-button__link {
  padding: 10px 25px;
}
section.tabbed_block .uk-switcher .wp-block-button__link i {
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  position: relative;
  top: 2px;
  margin-left: 5px;
}
<<<<<<< HEAD
section.tabbed_block .people {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 0;
  padding-top: 110px;
  padding-left: 30px;
}
section.tabbed_block .people h4 {
  margin: 20px 0 0;
}
section.tabbed_block .people p {
  margin: 0;
}
section.tabbed_block .people p.subtitle {
  font-size: 12px;
  font-weight: 800;
}
section.tabbed_block .people a {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
  display: block;
  font-weight: normal;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
section.tc_banner_block {
  padding: 125px 0;
}
section.tc_banner_block .tc_banner_block__inner {
  position: relative;
  min-height: 555px;
  width: 100%;
  text-align: center;
}
section.tc_banner_block .tc_banner_block__inner h2 {
  color: white;
}
.banner_block {
<<<<<<< HEAD
  padding: 35px 0;
=======
  padding: 85px 0;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.banner_block p {
  max-width: 620px;
}
<<<<<<< HEAD
.banner_block a {
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  color: #FCA73B;
}
.banner_block a i {
  color: #186BE7;
  margin-right: 15px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.tc_list img {
  min-width: 550px;
}
.tc_list .text {
  padding-left: 50px;
}
.tc_list .wp-block-buttons {
  margin-top: 25px;
}
.tc_list ul {
  margin: 0 0 0 -20px;
  padding: 0;
  list-style: none;
}
.tc_list ul li {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  color: #080A33;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.tc_list ul li::before {
  content: "";
  background: url(../img/checkmark.svg) no-repeat;
  width: 70px;
  height: 60px;
  display: inline-block;
  background-size: 100%;
}
.student_needs {
  background: #F6F6F6;
  padding: 50px 0 0;
  position: relative;
}
.student_needs::after {
  content: "";
  background: #ffad3e;
  background: -moz-linear-gradient(left, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(left, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(to right, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad3e', endColorstr='#e05c16', GradientType=1);
  height: 10px;
  width: 100%;
  display: block;
}
.student_needs .list {
  max-width: 860px;
  background: #F6F6F6;
  margin: 0 auto;
  padding: 50px;
  margin-top: -60px;
  position: relative;
}
.student_needs .list p {
  margin: 0;
  padding: 0;
}
.student_needs .list p.uk-grid-margin {
  margin-top: 20px;
}
.student_needs .needs {
  background: url(../img/needs-graphic.svg) no-repeat;
  width: 485px;
  height: 485px;
  position: absolute;
  top: 50%;
  z-index: 10;
  left: -240px;
  transform: translate(0, -50%);
}
.academic_icons h2 {
  padding-right: 35px;
}
.academic_icons .icons div {
  text-align: center;
}
.academic_icons .icons div img {
  display: block;
  margin: 0 auto 10px;
}
.academic_icons .icons div p {
  font-size: 14px;
  line-height: 20px;
  max-width: 170px;
  margin: 0 auto;
}
.academic_icons .icons .uk-grid-margin {
  margin-top: 30px;
}
.image_parallax {
  position: relative;
  overflow: hidden;
  padding: 100px 0 80px;
}
.image_parallax .text {
  position: relative;
  z-index: 2;
}
.image_parallax .graphic {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.image_parallax h2 {
  font-size: 70px;
  font-weight: bold;
  line-height: 118px;
}
.image_parallax p {
  max-width: 440px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
}
@media (min-width: 960px) {
  .semester_block .uk-container {
    padding-left: 90px;
  }
}
.semester_block .inner {
  background: #F6F6F6;
}
.semester_block .inner .intro {
  padding: 35px;
}
.semester_block .inner .intro p {
  margin: 0;
  font-size: 14px;
}
.semester_block .inner h2 {
  max-width: 340px;
  font-size: 35px;
  line-height: 40px;
  margin: 0 0 15px;
}
.semester_block .dates {
  margin-top: 15px;
}
.semester_block .date {
  position: relative;
  left: -90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.semester_block .date .header {
  padding: 15px;
  background-color: #080A33;
  text-align: center;
}
.semester_block .date .header p {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: #FCA73B;
  line-height: 36px;
}
.semester_block .date .body {
  padding: 10px 0;
}
.semester_block .date .body p {
  font-size: 12px;
  font-weight: 600;
<<<<<<< HEAD
  margin: 0 0 7px 0;
}
.tc_links {
  margin-top: -20px;
  padding-bottom: 50px;
=======
  margin: 0;
}
.tc_links {
  margin-top: -40px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.tc_links .bg {
  padding: 200px 55px 40px;
  text-align: center;
  min-height: 475px;
  max-width: 350px;
  margin: 0 auto;
}
.tc_links .bg h2 {
  color: white;
  margin: 0;
}
.tc_links .bg p {
  font-size: 14px;
  line-height: 22px;
  color: white;
  margin-bottom: 30px;
}
.school_classes {
  padding: 100px 0 180px;
  background: #F6F6F6;
}
.school_classes .bg {
  padding-top: 220px;
}
.school_classes .bg .inner {
  background: #F6F6F6;
  padding: 30px;
  max-width: 65%;
  position: relative;
  top: 130px;
}
.school_classes h4 {
  margin: 0;
}
.school_classes ul,
.school_classes ol {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.school_classes ul li p,
.school_classes ol li p,
.school_classes ul li a,
.school_classes ol li a {
  font-size: 15px;
<<<<<<< HEAD
  line-height: 16px;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  font-weight: 600;
}
.school_classes ul li a,
.school_classes ol li a {
  color: #FCA73B;
}
.school_classes ul li a::after,
.school_classes ol li a::after {
  content: "";
  background: url(../img/link-arrow.svg) no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.image_icons {
  padding: 85px 0 120px;
}
.image_icons .img-container {
  position: relative;
}
<<<<<<< HEAD
.image_icons .img-container p {
  font-size: 14px;
  line-height: 20px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.image_icons .img-container::after {
  content: "";
  background: #ffad3e;
  background: -moz-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  position: absolute;
  bottom: 0;
  right: -120px;
  width: 326px;
  height: 664px;
  z-index: -1;
}
.image_icons .panel {
  background: white;
  padding: 0 15px 0 0;
  position: absolute;
  bottom: -90px;
  max-width: 80%;
}
.image_icons .icons {
  text-align: center;
  padding-right: 45px;
}
<<<<<<< HEAD
.leadership_block .uk-grid {
  padding-left: 100px;
}
.leadership_block .img1 {
  margin-top: 40px;
  margin-bottom: 25px;
}
.leadership_block .inner {
  background: #ffad3e;
  background: -moz-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  position: relative;
}
.leadership_block .inner .text {
  padding-bottom: 20px;
  margin-left: 50px;
}
.leadership_block .inner p {
  color: white;
  margin: 0;
  font-size: 15px;
  line-height: 22px;
}
.leadership_block .img3 {
  margin-right: 70px;
  position: relative;
  top: -25px;
}
.faq_block {
  padding: 80px 0 0;
}
.faq_block .text {
  max-width: 420px;
  padding-left: 70px;
=======
.faq_block {
  padding: 80px 0 0;
}
.faq_block .text {
  max-width: 420px;
  padding-left: 70px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
@media only screen and (max-width: 767px) {
  .faq_block .text {
    padding-left: 0;
    max-width: inherit;
  }
}
.faq_block .wp-block-buttons {
  margin: 20px 0;
}
.faq_block a:not(.wp-block-button__link) {
  display: block;
  margin: 10px 0;
}
.faq_block a:not(.wp-block-button__link) i {
  color: #186BE7;
  margin-right: 15px;
}
.faq_block .faq-questions {
  position: relative;
  top: -120px;
  left: -120px;
}
.faq_block .faq-questions .uk-accordion .uk-accordion-title {
  font-size: 15px;
  font-weight: normal;
}
.faq_block .faq-questions .uk-accordion .uk-accordion-content p {
  font-size: 14px;
  font-weight: normal;
}
.faq_block .faq-questions .uk-accordion li {
  padding: 15px;
  background: white;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.1);
}
.faq_block .faq-questions .uk-accordion > :nth-child(n+2) {
  margin-top: 8px;
}
.gallery_block {
  padding: 80px 0 40px;
}
.gallery_block .intro {
  position: relative;
}
.gallery_block .intro::before {
  content: "";
  z-index: -1;
  background: #ffad3e;
  background: -moz-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  position: absolute;
  left: -40px;
  top: -80px;
  width: 303px;
  height: 650px;
}
<<<<<<< HEAD
.gallery_block .intro img {
  padding-left: 25px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.gallery_block .intro a {
  color: #FCA73B;
  font-weight: 500;
}
.gallery_block .intro a::after {
  content: "";
  background: url(../img/link-arrow.svg) no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.gallery_block .gallery {
  margin-top: 50px;
}
.gallery_block .gallery .slick-list {
  margin: 25px;
}
.gallery_block .gallery .slick-slide img {
  width: 100%;
<<<<<<< HEAD
  max-width: 1024px;
  margin: 0 auto;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.gallery_block .gallery .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  padding: 0;
  border: none;
  background: transparent;
}
.gallery_block .gallery .slick-arrow:active,
.gallery_block .gallery .slick-arrow:focus {
  outline: none;
}
.gallery_block .gallery .slick-arrow .arrow-blue {
  background: url(../img/arrow-blue.svg) no-repeat;
  width: 80px;
  height: 80px;
  display: block;
  background-size: 100%;
}
.gallery_block .gallery .slick-arrow .arrow-blue.reverse {
  transform: rotate(180deg);
}
.gallery_block .gallery .slick-arrow.slick-prev {
  left: -45px;
}
.gallery_block .gallery .slick-arrow.slick-next {
  right: -45px;
}
.column_slider {
  position: relative;
  padding: 80px 0 140px;
}
.column_slider .arrows {
  position: relative;
  z-index: 10;
<<<<<<< HEAD
  left: -16px;
}
.column_slider .arrows button:last-child {
  position: relative;
  left: -20px;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.column_slider .slick-arrow {
  display: inline-block;
  z-index: 10;
  padding: 0;
  border: none;
  background: transparent;
}
.column_slider .slick-arrow:active,
.column_slider .slick-arrow:focus {
  outline: none;
}
.column_slider .slick-arrow .arrow-blue {
  background: url(../img/arrow-blue.svg) no-repeat;
  width: 80px;
  height: 80px;
  display: block;
  background-size: 100%;
}
.column_slider .slick-arrow .arrow-blue.reverse {
  background: url(../img/arrow-blue-left.svg) no-repeat;
  background-size: 100%;
}
.column_slider .panel {
  background: #f6f6f6;
  padding: 30px;
  position: absolute;
  bottom: 0;
  min-width: 500px;
  min-height: 450px;
}
.column_slider .panel h2 {
  max-width: 310px;
}
.column_slider .slick-track {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.column_slider .tc_banner_block__inner {
  position: relative;
  min-height: 325px;
  width: 100%;
  text-align: center;
  opacity: 0.6;
}
.column_slider .tc_banner_block__inner h2 {
  color: white;
  font-size: 24px;
  margin: 0;
}
.column_slider .tc_banner_block__inner .wp-block-buttons {
  display: none;
}
.column_slider .slick-center .tc_banner_block__inner {
  min-height: 500px;
  margin-top: -70px;
  transform: scale(1.3);
  z-index: 1;
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.column_slider .slick-center .tc_banner_block__inner h2 {
  font-size: 30px;
}
.column_slider .slick-center .tc_banner_block__inner a,
.column_slider .slick-center .tc_banner_block__inner h2 {
  transform: scale(0.7);
}
.column_slider .slick-center .tc_banner_block__inner .uk-position-bottom-center {
  bottom: 20px;
}
.column_slider .slick-center .tc_banner_block__inner .wp-block-buttons {
  display: block;
}
<<<<<<< HEAD
.locations_block {
  position: relative;
  margin-bottom: 110px;
}
.locations_block h2 {
  color: #080A33;
  font-size: 70px;
}
.locations_block .intro {
  max-width: 580px;
  padding-top: 350px;
}
.locations_block .intro p {
  color: white;
}
.locations_block .places {
  background: #F6F6F6;
  padding: 40px 20px 20px;
  margin-bottom: -110px;
}
.locations_block .places .uk-grid {
  margin-left: 100px;
  margin-right: 100px;
}
.locations_block .places .text {
  margin-left: 25px;
}
.locations_block .places .text h4,
.locations_block .places .text p {
  margin: 0;
}
.locations_block .places .wp-block-buttons {
  text-align: center;
  margin-top: 35px;
}
.image_parallax_2 {
  padding: 100px 0 170px;
}
.image_parallax_2 .graphic {
  left: 10%;
  z-index: -1;
}
.image_parallax_2 .shadow {
  background: #ffad3e;
  background: -moz-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  width: 305px;
  height: 400px;
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: -1;
}
.image_parallax_2 .badge {
  position: absolute;
  top: 20px;
  right: -50px;
  z-index: 5;
}
.image_parallax_2 .img-container {
  position: relative;
  z-index: 5;
}
.image_parallax_2 .img-container .img {
  min-height: 400px;
  width: 305px;
  position: relative;
  z-index: 1;
}
.image_parallax_2 .img-container h3,
.image_parallax_2 .img-container p,
.image_parallax_2 .img-container a {
  color: white;
}
.image_parallax_2 .img-container p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.image_parallax_2 .img-container a {
  font-size: 14px;
  font-weight: 600;
}
.image_parallax_2 .img-container .text-container {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 220px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.image_parallax_2 .img-container .text-container a i {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
.image_slider {
  background-color: #F6F6F6;
  padding: 50px 0;
}
.image_slider h2 {
  margin: 0;
}
.image_slider .arrows {
  position: relative;
  z-index: 10;
}
.image_slider figcaption {
  text-align: center;
}
.image_slider .slick-track {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.image_slider .slick-center .inner {
  transform: scale(1.3);
}
.image_slider .slick-arrow {
  display: inline-block;
  z-index: 10;
  padding: 0;
  border: none;
  background: transparent;
}
.image_slider .slick-arrow:active,
.image_slider .slick-arrow:focus {
  outline: none;
}
.image_slider .slick-arrow .arrow-blue {
  background: url(../img/arrow-blue.svg) no-repeat;
  width: 80px;
  height: 80px;
  display: block;
  background-size: 100%;
}
.image_slider .slick-arrow .arrow-blue.reverse {
  background: url(../img/arrow-blue-left.svg) no-repeat;
  background-size: 100%;
}
.number_list .intro {
  max-width: 550px;
  margin: 0 auto;
}
.number_list .number-list {
  margin: 40px 0;
}
.number_list .number-list .number {
  color: #FFAD3E;
  opacity: 0.2;
  font-size: 90px;
  line-height: 90px;
  font-weight: 600;
}
.number_list .number-list .grid {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 20px;
}
.number_list .number-list h3,
.number_list .number-list h4,
.number_list .number-list p {
  margin: 0;
}
.number_list .number-list h3 {
  font-size: 20px;
  font-weight: 700;
}
.number_list .number-list h4 {
  font-size: 15px;
  color: #080A33;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
p.is-style-container-small {
  max-width: 460px;
  margin: 0px auto 40px;
}
.wp-block-cover.is-style-less-padding,
.wp-block-cover-image.is-style-less-padding {
  min-height: 230px;
}
.wp-block-table {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
  padding-bottom: 30px;
}
.wp-block-table table {
  background: white;
  position: relative;
  top: -20px;
}
.wp-block-table::before {
  content: "";
  background: url(../img/table-graphic.png);
  display: block;
<<<<<<< HEAD
  width: 400px;
  height: 400px;
  position: absolute;
  left: -340px;
  top: -34px;
=======
  width: 500px;
  height: 500px;
  position: absolute;
  left: -420px;
  top: -100px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  background-size: 100%;
  z-index: 5;
}
.wp-block-table tr:first-child {
  background: #080A33;
}
.wp-block-table tr:first-child td {
  color: white;
}
.wp-block-table td {
<<<<<<< HEAD
  padding: 6px 80px;
=======
  padding: 10px 80px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.wp-block-buttons.alignright {
  float: right;
}
.wp-block-button {
  position: relative;
  min-width: 160px;
}
.wp-block-button .wp-block-button__link {
  display: inline-block;
  min-width: 160px;
  padding: 10px 25px;
  position: relative;
  z-index: 2;
  font-size: 16px;
  border-radius: 0;
}
.wp-block-button .wp-block-button__link i {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
<<<<<<< HEAD
.wp-block-button.is-style-blue-button .wp-block-button__link::after {
  content: "";
  background: url(../img/link-arrow-white.svg) no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.wp-block-button.is-style-orange-button {
  box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
}
.wp-block-button.is-style-orange-button .wp-block-button__link {
  background: #FCA73B;
  color: white;
<<<<<<< HEAD
  transition: all 0.25s;
  font-weight: 600;
}
.wp-block-button.is-style-orange-button .wp-block-button__link:hover {
  background: #F37F27;
  transform: scale(1.08);
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.wp-block-button.is-style-orange-button .wp-block-button__link::after {
  content: "";
  background: url(../img/link-arrow-white.svg) no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.wp-block-button.is-style-white-button .wp-block-button__link {
  background: white;
<<<<<<< HEAD
  color: #e05c16;
  transition: all 0.25s;
  font-weight: 600;
}
.wp-block-button.is-style-white-button .wp-block-button__link:hover {
  transform: scale(1.08);
=======
  color: #FCA73B;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.wp-block-button.is-style-blue-button .wp-block-button__link {
  background: #186BE7;
  color: white;
}
@media only screen and (max-width: 960px) {
  .wp-block-button {
    min-width: inherit;
  }
  .wp-block-button .wp-block-button__link {
    min-width: inherit;
  }
}
.wp-block-group.is-style-bottom-border::after {
  content: "";
  background: #ffad3e;
  background: -moz-linear-gradient(left, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(left, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(to right, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad3e', endColorstr='#e05c16', GradientType=1);
  height: 10px;
  width: 100%;
  display: block;
}
.wp-block-group.is-style-small-container .wp-block-group__inner-container {
  max-width: 880px;
}
.wp-block-group .wp-block-group__inner-container {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 640px) {
  .wp-block-group .wp-block-group__inner-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 960px) {
  .wp-block-group .wp-block-group__inner-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.wp-block-group .wp-block-columns .wp-block-columns {
  margin-left: -60px;
}
<<<<<<< HEAD
.wp-block-columns.is-style-vertical-center {
  align-items: center;
}
.wp-block-columns .wp-block-column ul a,
.wp-block-columns .wp-block-column ol a {
  display: block;
  color: #FCA73B;
  font-size: 15px;
}
.wp-block-columns .wp-block-column ul a::after,
.wp-block-columns .wp-block-column ol a::after {
  content: "";
  background: url(../img/link-arrow.svg);
  display: inline-block;
  margin-left: 8px;
  width: 7px;
  height: 9px;
}
.wp-block-column:not(:first-child) {
  margin-left: 60px;
}
ul.is-style-with-checkboxes,
ol.is-style-with-checkboxes {
  margin: 0 0 0 -20px;
  padding: 0;
  list-style: none;
}
ul.is-style-with-checkboxes li,
ol.is-style-with-checkboxes li {
  display: flex;
  align-items: center;
}
ul.is-style-with-checkboxes li::before,
ol.is-style-with-checkboxes li::before {
  content: "";
  background: url(../img/checkmark.svg) no-repeat;
  width: 70px;
  height: 60px;
  display: inline-block;
  background-size: 100%;
}
ul.is-style-no-bullets,
ol.is-style-no-bullets {
  list-style: none;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.wp-block-media-text.has-media-on-the-right figure {
  padding: 0 0 0 100px;
}
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
  padding: 0 100px 0 0;
}
.wp-block-media-text figure {
  padding: 0 100px 0 0;
}
.wp-block-media-text .wp-block-media-text__content {
  padding: 0 0 0 100px;
}
.wp-block-image.is-style-with-shadow figure {
  position: relative;
}
.wp-block-image.is-style-with-shadow figure::after {
  content: "";
  background: #F6F6F6;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 30px;
  top: 30px;
  z-index: -1;
}
.wp-block-image figcaption {
  display: inline;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
<<<<<<< HEAD
  color: #080A33;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.wp-block-cover h2 {
  margin: 0 0 35px;
}
<<<<<<< HEAD
@media only screen and (max-width: 1240px) {
  header .logo {
    max-width: 150px;
  }
  header .menu li a {
    font-size: 12px;
    padding: 0 13px;
  }
}
@media (max-width: 1005px) {
  header .menu li:last-child {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 55px;
  }
  h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .sub-menu {
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 16px;
  }
  .menu i {
    display: none;
  }
  .menu-icon {
    border: none;
    background-color: transparent;
    background: url(../img/hamburger.svg);
    width: 26px;
    height: 18px;
  }
  .wp-block-table::before {
    left: -300px;
  }
  .curriculum_page .nav-switcher {
    display: block;
    text-align: center;
  }
  .curriculum_page .nav-switcher li {
    height: 100px;
    display: inline-block;
  }
  .curriculum_page .nav-switcher li:first-child {
    min-width: 130px;
  }
  .curriculum_page .nav-switcher li a {
    font-size: 12px;
    line-height: 14px;
  }
  .curriculum_page .nav-switcher li img {
    max-width: 25px;
  }
  .curriculum_page .filters {
    float: none;
  }
  .curriculum_page .content .columned {
    column-gap: 10px;
  }
  .curriculum_page .content .uk-accordion-title {
    font-size: 16px;
  }
  .curriculum_page .content .uk-accordion-content p.credit {
    position: inherit;
    top: 0;
  }
  section.tc_banner_block {
    padding: 40px 0;
  }
  section.tc_banner_block .tc_banner_block__inner {
    min-height: 295px;
    width: 75%;
    margin: 0 auto;
  }
  section.tabbed_block {
    padding: 40px 0 120px;
  }
  section.tabbed_block .uk-subnav {
    display: block;
  }
  section.tabbed_block .uk-subnav li {
    margin-bottom: 5px;
  }
  section.tabbed_block .uk-subnav li a {
    min-width: inherit;
  }
  section.tabbed_block .people {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
  section.tabbed_block .people a {
    font-size: 13px;
    line-height: 20px;
  }
  .wp-block-columns.maintain {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }
  .wp-block-columns.maintain.is-style-vertical-center {
    text-align: center;
  }
  .wp-block-columns.maintain .wp-block-column {
    display: inline-block;
    min-width: 25%;
    margin: 0;
  }
  .wp-block-columns.maintain .wp-block-buttons.alignright {
    float: none;
  }
  section.tc_list img {
    min-width: 320px;
    max-width: 320px;
  }
  section.faq_block .text {
    padding-left: 0;
  }
  section.faq_block .faq-questions {
    top: 0;
    left: 0;
  }
  section.gallery_block .intro::before {
    height: 280px;
  }
  section.student_needs .needs {
    display: none;
  }
  section.slider_block .slick-slide.slick-center .slider_block__inner {
    min-height: 280px;
  }
  section.slider_block .slick-slide.slick-center .slider_block__name {
    max-height: 80px;
    padding: 10px;
  }
  section.slider_block .slider_block__name h3 {
    font-size: 20px;
    line-height: 24px;
  }
  section.slider_block .slider_block__name .icon-container {
    width: 50px;
    height: 45px;
    font-size: 13px;
    margin-right: 12px;
  }
  section.semester_block .date {
    left: 0;
  }
  section.semester_block .inner {
    text-align: center;
  }
  section.semester_block .inner h2 {
    font-size: 20px;
    line-height: 25px;
    max-width: inherit;
  }
  section.semester_block .img {
    height: 200px !important;
  }
  section.leadership_block .uk-grid {
    padding-left: 0;
  }
  section.school_classes {
    padding: 40px 0;
  }
  section.school_classes .bg {
    margin-bottom: 100px;
  }
  section.school_classes .bg .inner {
    padding: 20px 20px 20px 0;
  }
  section.image_icons .panel {
    bottom: -180px;
  }
  section.image_icons .icons p {
    font-size: 14px;
    line-height: 20px;
  }
  section.column_slider .slick-center .tc_banner_block__inner {
    min-height: 370px;
  }
  section.column_slider .panel {
    position: relative;
    min-height: inherit;
    bottom: -40px;
  }
  section.image_parallax_2 .badge {
    right: -20px;
  }
  section.locations_block .places .uk-grid {
    margin-left: 0;
    margin-right: 30px;
  }
  .blog-grid article:first-child {
    grid-column: 1 / span 3;
  }
  footer.footer .uk-grid-margin {
    margin-top: 55px;
  }
}
@media only screen and (max-width: 767px) {
  p {
    font-size: 15px;
    line-height: 22px;
  }
  p.is-style-container-small {
    margin: 0;
  }
  .gform_wrapper .half {
    width: 100%;
  }
  .gform_wrapper .icon-email .ginput_container::after {
    top: 56px;
  }
  .gform_wrapper input[type=submit] {
    max-width: 180px;
  }
  .wp-block-spacer {
    height: 15px !important;
  }
  .wp-block-columns .wp-block-column:last-child {
    margin-top: 30px;
  }
  .wp-block-button .wp-block-button__link {
    padding: 10px 15px;
  }
  .wp-block-table td {
    padding: 10px;
    line-height: 20px;
    width: 60%;
  }
  .wp-block-table::before {
    display: none;
  }
  section.column_slider {
    padding: 40px 0;
  }
  section.column_slider .panel {
    position: relative;
    padding: 15px;
    min-width: inherit;
    min-height: inherit;
    margin-right: 50px;
  }
  section.column_slider .tc_banner_block__inner {
    min-height: 190px;
  }
  section.column_slider .slick-center .tc_banner_block__inner {
    min-height: 220px;
    margin: 0 20px;
  }
  section.tc_links .bg {
    padding: 110px 25px 20px;
    min-height: 350px;
    background-position: center bottom !important;
  }
  section.leadership_block .img3 {
    top: 0;
    min-height: 200px !important;
    margin-right: 0;
  }
  section.leadership_block .img1,
  section.leadership_block .img2 {
    display: none;
  }
  section.leadership_block .inner .text {
    padding-bottom: 20px;
    margin: 0 20px;
    padding-top: 20px;
  }
  section.banner_block {
    background-position: right center !important;
  }
  section.banner_block br {
    display: none;
  }
  section.image_slider .slick-slide img {
    margin: 0 auto;
  }
  section.slider_block {
    padding: 40px 0;
  }
  section.slider_block .slick-slide.slick-center .slider_block__inner {
    min-height: 260px;
  }
  section.slider_block .slick-slide.slick-center .slider_block__inner .slider_block__name {
    max-height: 65px;
  }
  section.slider_block .slider_block__inner .slider_block__name {
    padding: 10px;
    max-height: 70px;
    max-height: 65px;
  }
  section.slider_block .slider_block__inner .slider_block__name h3 {
    font-size: 18px;
  }
  section.slider_block .slider_block__inner .slider_block__name .icon-container {
    width: 50px;
    height: 45px;
    font-size: 13px;
  }
  section.student_needs .needs {
    display: none;
  }
  section.student_needs .list {
    max-width: inherit;
    margin: 0 25px;
    padding: 20px 10px;
    margin-top: -60px;
  }
  section.student_needs .list p {
    font-size: 14px;
  }
  section.image_parallax h2 {
    font-size: 35px;
    line-height: 40px;
  }
  section.tc_banner_block .tc_banner_block__inner {
    width: 100%;
    min-height: 240px;
  }
  section.counter_block h2 {
    font-size: 45px;
  }
  section.tc_list img {
    min-width: 320px;
  }
  section.tc_list .uk-flex {
    display: block;
  }
  section.tc_list .text {
    padding: 0;
  }
  section.tabbed_block {
    padding: 20px 0;
  }
  section.tabbed_block .uk-switcher .uk-switcher__bg {
    min-height: 320;
  }
  section.tabbed_block .uk-switcher .uk-switcher__text {
    bottom: 0;
  }
  section.tabbed_block .people {
    display: block;
    padding: 0;
    text-align: center;
  }
  section.tabbed_block .people img {
    max-width: 140px;
  }
  section.tabbed_block .people div {
    margin-bottom: 25px0;
  }
  section.tabbed_block .people div a {
    font-size: 11px;
  }
  section.gallery_block .is-white {
    background: white;
  }
  section.gallery_block .gallery .slick-arrow {
    top: 100%;
  }
  section.gallery_block .gallery .slick-arrow.slick-prev {
    left: 0;
  }
  section.gallery_block .gallery .slick-arrow.slick-next {
    right: 0;
  }
  section.school_classes .bg {
    padding-top: 40px;
  }
  section.school_classes .bg .inner {
    max-width: 90%;
  }
  section.image_icons {
    padding: 60px 0 20px;
  }
  section.image_icons .panel {
    position: relative;
    bottom: 0;
    max-width: 100%;
    padding: 0;
  }
  section.image_icons .img-container::after {
    top: -60px;
    height: 226px;
  }
  section.locations_block h2 {
    font-size: 40px;
    line-height: 50px;
  }
  section.locations_block .intro {
    max-width: inherit;
    padding-top: 60px;
  }
  section.locations_block .places {
    padding: 15px;
    margin-bottom: -140px;
  }
  section.locations_block .places .uk-grid {
    margin-left: 0;
    margin-right: 0;
  }
  section.image_parallax_2 .uk-flex {
    display: block;
  }
  section.image_parallax_2 .img-container,
  section.image_parallax_2 .parallax {
    transform: none !important;
    margin-left: 20px;
  }
  section.image_parallax_2 .img-container.last {
    margin-top: 100px;
  }
  section.image_parallax_2 .badge {
    right: 0;
  }
  .single-post .intro span {
    font-size: 11px;
    display: block;
  }
  .single-post .intro .text-container {
    margin-top: 25px;
  }
  .single-post .main-content {
    padding: 20px 0;
  }
  .blog-grid {
    display: block;
  }
  .blog-grid article {
    margin-bottom: 10px;
  }
  footer.footer .col1 {
    margin: 30px 0;
    text-align: center;
  }
  footer.footer .uk-grid-margin {
    margin-top: 15px;
  }
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
