<<<<<<< HEAD
@import 'variables.less';
@import './global.less';
@import './css-functions.less';
@import './header-and-footer.less';

html,
body {
    font-size: @font-size;
    line-height: 1.3;
    line-height: @lh;
    font-family: @font;
    font-style: @reg;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: @semibold;
    color: @navy;
    font-family: @font;

    span {
        color: @blue;

        &.yellow {
            color: @orange;
        }
    }
}

h1 {
    font-size: 70px;
    line-height: 118px;
}

h2 {
    font-size: 45px;
    line-height: 55px;
}

h3 {
    font-size: 34px;
    line-height: 44px;
}

h4 {
    font-size: 20px;
    line-height: 25px;
}

p {
    font-size: @font-size;
    color: @navy;
    line-height: 26px;
    a {
        font-size: inherit;
    }

    &.is-style-with-caret {
        &::after {
            content: "";
            background: url(./../img/link-arrow.svg) no-repeat;
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-left: 10px;
            position: relative;
            top: 1px;
        }
    }
}

.is-blue {
    color: @blue;
    margin-right: 8px;
}

main {
    &.has-bg-design {
        background: url(./../img/top-graphic.png) no-repeat;
        background-position: right 100px;
    }
}

.error-page {
    padding: 150px 0;
}

.uk-accordion-title {
    color: @navy;
}

.curriculum_page {
    padding-top: 60px;

    .search-container {
        position: relative;
        margin-bottom: 25px;
        min-height: 25px;

        .search {
            position: absolute;
            right: 0;

            input.search-input {
                border: 1px solid #C5C5C5;
                padding: 5px 10px;
                min-width: 280px;
                padding-right: 30px;
            }

            button {
                background: none;
                border: none;
                position: absolute;
                right: 0;
                top: 5px;
            }
    
            i {
                color: @blue;
            }
        }

    }

    .filters {
        float: right;
        margin-top: 25px;

        p {
            margin: 0 25px 0 0;
            font-size: 12px;
            font-weight: @bold;
        }

        .input-check {
            margin-left: 15px;
        }
    }

    .nav-switcher {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            position: relative;
            background: @silver;
            text-align: center;
            min-width: 130px;
            height: 130px;

            &.uk-active {
                background: @orange;
                box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
                a {
                    color: white;
                }
            }

            &:first-child {
                min-width: 330px;
            }
            
            a {
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;

                &:focus, &:active {
                    outline: none;
                }
            }

            img {
                display: block;
                margin: 0 auto 10px;
            }
        }
    }
    .content {
        padding: 80px 0;

        .uk-accordion-title {
            font-size: 18px;

            &::before {
                content: "";
                float: left;
                background-image: url(./../img/accordion-cross.svg);
                width: 20px;
                height: 28px;
                margin: 0 25px 0 0;
                transition: all 0.25s;
            }
        }

        .uk-accordion-content {
            margin-top: 5px;
            padding-left: 45px;
            position: relative;
            p {
                font-size: 14px;
                line-height: 22px;

                &.credit {
                    position: absolute;
                    top: -31px;
                    right: 0;
                    font-size: 18px;
                    opacity: 0.8;
                }

                &.meta {
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }

        .columned {
            column-count: 2;
            column-gap: 90px;

            li {
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;

                &.uk-open {
                    border: 1px solid @silver;
                    box-shadow: 0 0 10px rgba(0,0,0,0.1);
                    padding: 25px;

                    .uk-accordion-title {
                        &::before {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }
}

.gform_wrapper li.gfield.gfield_error {
    padding-right: 16px !important;
}

.gform_wrapper {
    max-width: 650px !important;
    margin: 0 auto;

    .half {
        width: 50% !important;
        display: inline-block !important;

        input {
            max-width: 310px;
        }
    }

    label {
        font-size: 12px !important;
        font-weight: 700 !important;
        letter-spacing: normal !important;
        margin: 0 !important;
        color: @navy;
    }

    input,
    select,
    textarea {
        border: 1px solid #C5C5C5;
        background-color: transparent;
        box-shadow: 0 0 4px rgba(100,100,100,0.1);
        padding: 10px !important;

        &:focus, &:active {
            outline: none;
            border-left: 6px solid @orange;
        }
    }

    select {
        color: @navy;
    }

    .gform_footer {
        text-align: center;
    }

    input[type=submit] {
        display: inline-block;
        min-width: 160px;
        padding: 15px 25px !important;
        position: relative;
        border: none !important;
        z-index: 2;
        font-size: 16px;
        border-radius: 0;
        background: @orange;
        color: white;
        box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
    }

    .icon-email {
        position: relative;
        .ginput_container {
            &::after {
                content: "";
                background: url(./../img/icon-email.svg) no-repeat;
                width: 22px;
                height: 17px;
                display: block;
                position: absolute;
                right: 24px;
                top: 50px;
            }
        }
    }

    .icon-phone {
        position: relative;
        .ginput_container {
            &::after {
                content: "";
                background: url(./../img/icon-phone.svg) no-repeat;
                width: 22px;
                height: 22px;
                display: block;
                position: absolute;
                right: 24px;
                top: 50px;
            }
        }
    }

    .icon-calendar {
        position: relative;
        .ginput_container {
            &::after {
                content: "";
                background: url(./../img/icon-calendar.svg) no-repeat;
                width: 22px;
                height: 22px;
                display: block;
                position: absolute;
                right: 24px;
                top: 50px;
            }
        }
    }
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background: transparent !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.notification {
    text-align: center;
    background: @blue;
    padding: 5px 0;
    p {
        margin: 0;
        font-size: 11px;
        line-height: 13px;
        font-weight: 500;
        color: white;
        letter-spacing: 1px;
    }
}

.pagination {
    text-align: center;
    margin-top: 80px;

    .page-numbers {
        position: relative;
        color: @blue;
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        margin: 0 10px;

        &.current {
            color: @navy;
        }
    }

    .pag-left {
        background: url(./../img/arrow-blue-left.svg) no-repeat;
        width: 45px;
        height: 45px;
        background-size: 100%;
        display: inline-block;
        position: absolute;
        top: -9px;
        left: -40px;
    }

    .pag-right {
        background: url(./../img/arrow-blue.svg) no-repeat;
        width: 45px;
        height: 45px;
        background-size: 100%;
        display: inline-block;
        position: absolute;
        top: -9px;
    }
}

.posts__page {
    .headline {
        padding: 80px 0;

        h1 {
            font-size: 45px;
            line-height: 55px;
        }
    }

    .top-graphic {
        position: absolute;
        top: 0;
        right: -180px;
        background: url(./../img/top-graphic.png) no-repeat;
        z-index: -1;
        width: 800px;
        height: 800px;
    }

    .bottom-graphic {
        position: absolute;
        top: 1120px;
        left: -180px;
        background: url(./../img/bottom-graphic.png) no-repeat;
        z-index: -1;
        width: 800px;
        height: 800px;
    }
}

.single-post {

    .main-content {
        padding: 50px 0;



        .uk-container-small {
            max-width: 600px;
        }
    }

    .intro {
        padding: 50px 0;

        .img-container {
            position: relative;
            &::after {
                content: "";
                background: #F6F6F6;
                position: absolute;
                width: 100%;
                height: 100%;
                left: -40px;
                top: 40px;
                z-index: -1;
            }
        }

        .text-container {
            padding-left: 60px;

            @media @media-mobile {
                padding-left: 0;
            }

            .share {
                a {
                    color: @blue !important;
                    font-size: 26px;
                    margin-right: 20px;
                }
            }
        }

        span {
            font-size: 14px;
            text-transform: uppercase;
            color: @navy;
            font-weight: 600;
            display: inline-block;
            margin-right: 25px;
        }
    }

    &.class {
        .intro .text-container {
            padding-left: 40px;
        }
        h2 {
            margin-bottom: 5px;
        }
        .class-description {
            margin-top: 50px;
        }
    }
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    article:first-child {
        grid-column: ~"1 / span 2";

        .inner {
            &::after {
                content: "";
                background: rgb(255,173,62);
                background: -moz-linear-gradient(180deg, rgba(255,173,62,0) 0%, rgba(224,92,22,0.6250875350140056) 100%);
                background: -webkit-linear-gradient(180deg, rgba(255,173,62,0) 0%, rgba(224,92,22,0.6250875350140056) 100%);
                background: linear-gradient(180deg, rgba(255,173,62,0) 0%, rgba(224,92,22,0.6250875350140056) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e",endColorstr="#e05c16",GradientType=1);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        .preview-content {
            max-width: 610px;
            h2 {
                font-size: 35px;
                line-height: 40px;
            }
        }
    }

    .preview-content {
        a {
            font-size: 14px;
            font-weight: @semibold;

            i {
                position: relative;
                top: 1px;
                margin-left: 5px;
            }
        }
    }
}

.post {
    position: relative;

    .inner {
        height: 100%;
        min-height: 360px;

        &::after {
            content: "";
            background: rgb(8,10,51);
            background: -moz-linear-gradient(180deg, rgba(8,10,51,0) 10%, rgba(8,10,51,1) 80%);
            background: -webkit-linear-gradient(180deg, rgba(8,10,51,0) 10%, rgba(8,10,51,1) 80%);
            background: linear-gradient(180deg, rgba(8,10,51,0) 10%, rgba(8,10,51,1) 80%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#080a33",endColorstr="#080a33",GradientType=1);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
    .preview-content {
        position: absolute;
        bottom: 30px;
        left: 40px;
        z-index: 2;

        h2, a, span {
            color: white;
        }

        span {
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
        }

        h2 {
            margin: 15px 0;
            font-size: 20px;
            line-height: 25px;
            a {
                font-size: inherit;
            }
        }
    }
}

body.search-results {
    .headline {
        padding-bottom: 20px;
    }
    .date {
        display: none;
    }
    article {
        display: block;
    }
}

@import './core-blocks.less';
@import './responsive.less';

=======
@import 'variables.less';
@import './global.less';
@import './css-functions.less';
@import './header-and-footer.less';

html,
body {
    font-size: @font-size;
    line-height: 1.3;
    line-height: @lh;
    font-family: @font;
    font-style: @reg;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: @semibold;

    span {
        color: @blue;

        &.yellow {
            color: @orange;
        }
    }
}

h2 {
    font-size: 45px;
    line-height: 55px;
}

h3 {
    font-size: 34px;
    line-height: 44px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

p {
    font-size: @font-size;
    line-height: 26px;
    a {
        font-size: inherit;
    }
}

.curriculum_page {
    .nav-switcher {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            position: relative;
            background: @silver;
            text-align: center;
            min-width: 130px;
            height: 130px;

            &.uk-active {
                background: @orange;
            }

            &:first-child {
                min-width: 330px;
            }
            
            a {
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;

                &:focus, &:active {
                    outline: none;
                }
            }

            img {
                display: block;
                margin: 0 auto 10px;
            }
        }
    }
    .content {
        padding: 80px 0;

        .uk-accordion-title {
            font-size: 18px;

            &::before {
                content: "";
                float: left;
                background-image: url(./../img/accordion-cross.svg);
                width: 20px;
                height: 20px;
                margin: 0 25px 0 0;
                transition: all 0.25s;
            }
        }

        .uk-accordion-content {
            margin-top: 5px;
            padding-left: 45px;
            p {
                font-size: 14px;
                line-height: 22px;
                &.meta {
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }

        .columned {
            column-count: 2;
            column-gap: 90px;

            li {
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
                padding: 25px;

                &.uk-open {
                    border: 1px solid @silver;
                    box-shadow: 0 0 10px rgba(0,0,0,0.1);

                    .uk-accordion-title {
                        &::before {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }
}

.gform_wrapper {
    max-width: 650px !important;
    margin: 0 auto;

    .half {
        width: 50%;
        display: inline-block;
    }

    label {
        font-size: 12px !important;
        font-weight: 700 !important;
        letter-spacing: normal !important;
        margin: 0 !important
    }

    input,
    select,
    textarea {
        border: 1px solid #C5C5C5;
        background-color: transparent;
        box-shadow: 0 0 4px rgba(100,100,100,0.1);
        padding: 10px !important;

        &:focus, &:active {
            outline: none;
            border-left: 6px solid @orange;
        }
    }

    .gform_footer {
        text-align: center;
    }

    input[type=submit] {
        display: inline-block;
        min-width: 160px;
        padding: 15px 25px !important;
        position: relative;
        border: none !important;
        z-index: 2;
        font-size: 16px;
        border-radius: 0;
        background: @orange;
        color: white;
        box-shadow: 0 0 10px rgba(254, 189, 83, 0.55);
    }

    .icon-email {
        position: relative;
        .ginput_container {
            &::after {
                content: "";
                background: url(./../img/icon-email.svg) no-repeat;
                width: 22px;
                height: 17px;
                display: block;
                position: absolute;
                right: 24px;
                top: 50px;
            }
        }
    }

    .icon-phone {
        position: relative;
        .ginput_container {
            &::after {
                content: "";
                background: url(./../img/icon-phone.svg) no-repeat;
                width: 22px;
                height: 22px;
                display: block;
                position: absolute;
                right: 24px;
                top: 50px;
            }
        }
    }

    .icon-calendar {
        position: relative;
        .ginput_container {
            &::after {
                content: "";
                background: url(./../img/icon-calendar.svg) no-repeat;
                width: 22px;
                height: 22px;
                display: block;
                position: absolute;
                right: 24px;
                top: 50px;
            }
        }
    }
}

@import './core-blocks.less';
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
