<<<<<<< HEAD
@media-mobile: ~"only screen and (max-width: 767px)";
@media-tablet: ~"only screen and (max-width: 960px)";
@media-desktop: ~"only screen and (max-width: 1240px)";

@import url("https://use.typekit.net/bdb7oiz.css");

@orange: #FCA73B;
@blue: #186BE7;
@navy: #080A33;
@silver: #F6F6F6;
@dark: #2E2E2E;
@black: #080A33;

@font: proxima-nova, sans-serif;
@font-size: 16px;
@lh: 30px;
@reg: 400;
@med: 500;
@semibold: 600;
@bold: 800;
=======
@media-mobile: ~"only screen and (max-width: 767px)";
@media-tablet: ~"only screen and (max-width: 960px)";
@media-desktop: ~"only screen and (max-width: 1300px)";

@import url("https://use.typekit.net/bdb7oiz.css");

@orange: #FCA73B;
@blue: #186BE7;
@navy: #080A33;
@silver: #F6F6F6;
@dark: #2E2E2E;
@black: #000000;

@font: proxima-nova, sans-serif;
@font-size: 16px;
@lh: 30px;
@reg: 400;
@med: 500;
@semibold: 600;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
