<<<<<<< HEAD
@import './../../css/variables.less';

.banner_block {
    padding: 35px 0;
    p {
        max-width: 620px;
    }

    a {
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
        color: @orange;

        i {
            color: @blue;
            margin-right: 15px;
        }
    }
=======
.banner_block {
    padding: 85px 0;
    p {
        max-width: 620px;
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}