<<<<<<< HEAD
@import url("https://use.typekit.net/bdb7oiz.css");
.banner_block {
  padding: 35px 0;
=======
.banner_block {
  padding: 85px 0;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.banner_block p {
  max-width: 620px;
}
<<<<<<< HEAD
.banner_block a {
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  color: #FCA73B;
}
.banner_block a i {
  color: #186BE7;
  margin-right: 15px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
