<<<<<<< HEAD
@import '../../css/variables.less';

section.tc_banner_block {
    padding: 125px 0;
}
section.tc_banner_block .tc_banner_block__inner {
    position: relative;
    min-height: 555px;
    width: 100%;
    text-align: center;
}
section.tc_banner_block .tc_banner_block__inner h2 {
    color: white;
=======
@import '../../css/variables.less';

section.tc_banner_block {
    padding: 125px 0;
}
section.tc_banner_block .tc_banner_block__inner {
    position: relative;
    min-height: 555px;
    width: 100%;
    text-align: center;
}
section.tc_banner_block .tc_banner_block__inner h2 {
    color: white;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}