@import url("https://use.typekit.net/bdb7oiz.css");
section.tc_banner_block {
  padding: 125px 0;
}
section.tc_banner_block .tc_banner_block__inner {
  position: relative;
  min-height: 555px;
  width: 100%;
  text-align: center;
}
section.tc_banner_block .tc_banner_block__inner h2 {
  color: white;
}
