<<<<<<< HEAD
@import '../../css/variables.less';

.school_classes {
    padding: 100px 0 180px;
    background: @silver;
    .bg {
        padding-top: 220px;
        .inner {
            background: @silver;
            padding: 30px;
            max-width: 65%;
            position: relative;
            top: 130px;
        }
    }

    h4 {
        margin: 0;
    }

    ul,ol {
        margin: 20px 0;
        padding: 0;
        list-style: none;

        li {
            
            p,a {
                font-size: 15px;
                line-height: 16px;
                font-weight: @semibold;
            }

            a {
                color: @orange;
                &::after {
                    content: "";
                    background: url(./../img/link-arrow.svg) no-repeat;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    margin-left: 10px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
=======
@import '../../css/variables.less';

.school_classes {
    padding: 100px 0 180px;
    background: @silver;
    .bg {
        padding-top: 220px;
        .inner {
            background: @silver;
            padding: 30px;
            max-width: 65%;
            position: relative;
            top: 130px;
        }
    }

    h4 {
        margin: 0;
    }

    ul,ol {
        margin: 20px 0;
        padding: 0;
        list-style: none;

        li {
            p,a {
                font-size: 15px;
                font-weight: @semibold;
            }

            a {
                color: @orange;
                &::after {
                    content: "";
                    background: url(./../img/link-arrow.svg) no-repeat;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    margin-left: 10px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}