@import url("https://use.typekit.net/bdb7oiz.css");
.school_classes {
  padding: 100px 0 180px;
  background: #F6F6F6;
}
.school_classes .bg {
  padding-top: 220px;
}
.school_classes .bg .inner {
  background: #F6F6F6;
  padding: 30px;
  max-width: 65%;
  position: relative;
  top: 130px;
}
.school_classes h4 {
  margin: 0;
}
.school_classes ul,
.school_classes ol {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.school_classes ul li p,
.school_classes ol li p,
.school_classes ul li a,
.school_classes ol li a {
  font-size: 15px;
<<<<<<< HEAD
  line-height: 16px;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
  font-weight: 600;
}
.school_classes ul li a,
.school_classes ol li a {
  color: #FCA73B;
}
.school_classes ul li a::after,
.school_classes ol li a::after {
  content: "";
  background: url(../img/link-arrow.svg) no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
