.image_parallax_2 {
  padding: 100px 0 170px;
}
.image_parallax_2 .graphic {
  left: 10%;
  z-index: -1;
}
.image_parallax_2 .shadow {
  background: #ffad3e;
  background: -moz-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  width: 305px;
  height: 400px;
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: -1;
}
.image_parallax_2 .badge {
  position: absolute;
  top: 20px;
  right: -50px;
  z-index: 5;
}
.image_parallax_2 .img-container {
  position: relative;
  z-index: 5;
}
.image_parallax_2 .img-container .img {
  min-height: 400px;
  width: 305px;
  position: relative;
  z-index: 1;
}
.image_parallax_2 .img-container h3,
.image_parallax_2 .img-container p,
.image_parallax_2 .img-container a {
  color: white;
}
.image_parallax_2 .img-container p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.image_parallax_2 .img-container a {
  font-size: 14px;
  font-weight: 600;
}
.image_parallax_2 .img-container .text-container {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 220px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.image_parallax_2 .img-container .text-container a i {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
