.image_parallax_2 {
    padding: 100px 0 170px;
    .graphic {
        left: 10%;
        z-index: -1;
    }

    .shadow {
        background: rgb(255,173,62);
        background: -moz-linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
        background: linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e",endColorstr="#e05c16",GradientType=1);

        width: 305px;
        height: 400px;
        position: absolute;
        top: -40px;
        left: -40px;
        z-index: -1;
    }

    .badge {
        position: absolute;
        top: 20px;
        right: -50px;
        z-index: 5;
    }

    .img-container {
        position: relative;
        z-index: 5;

        .img {
            min-height: 400px;
            width: 305px;
            position: relative;
            z-index: 1;
        }

        h3,p,a {
            color: white;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            margin-bottom: 10px;
        }

        a {
            font-size: 14px;
            font-weight: 600;
        }

        .text-container {
            position: absolute;
            bottom: 20px;
            text-align: center;
            width: 220px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 5;

            a {
                i {
                    position: relative;
                    top: 1px;
                    margin-left: 5px;
                }
            }
        }
    }
}