<<<<<<< HEAD

/** === Layout === */

#page {
	width: 100%;
}

.site-content {
	overflow: hidden;
}

=======

/** === Layout === */

#page {
	width: 100%;
}

.site-content {
	overflow: hidden;
}

>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
