<<<<<<< HEAD
.column_slider {
    position: relative;
    padding: 80px 0 140px;

    .arrows {
        position: relative;
        z-index: 10;
        left: -16px;

        button:last-child {
            position: relative;
            left: -20px;
        }
    }

    .slick-arrow {
        display: inline-block;
        z-index: 10;
        padding: 0;
        border: none;
        background: transparent;

        &:active,&:focus {
            outline: none;
        }

        .arrow-blue {
            background: url(./../img/arrow-blue.svg) no-repeat;
            width: 80px;
            height: 80px;
            display: block;
            background-size: 100%;

            &.reverse {
                background: url(./../img/arrow-blue-left.svg) no-repeat;
                background-size: 100%;
            }
        }
    }

    .panel {
        background: #f6f6f6;
        padding: 30px;
        position: absolute;
        bottom: 0;
        min-width: 500px;
        min-height: 450px;

        h2 {
            max-width: 310px;
        }
    }

    .slick-track {
        display: flex;
        align-items: center;
        margin: 40px 0;
    }

    .tc_banner_block__inner {
        position: relative;
        min-height: 325px;
        width: 100%;
        text-align: center;
        opacity: .6;

        h2 {
            color: white;
            font-size: 24px;
            margin: 0;
        }

        .wp-block-buttons {
            display: none;
        }
    }

    .slick-center {
        .tc_banner_block__inner {
            min-height: 500px;
            margin-top: -70px;
            transform: scale(1.3);
            z-index: 1;
            opacity: 1;

            box-shadow: 0 0 10px rgba(0,0,0,0.1);

            h2 {
                font-size: 30px;
            }

            a,h2 {
                transform: scale(0.7);
            }

            .uk-position-bottom-center {
                bottom: 20px;
            }

            .wp-block-buttons {
                display: block;
            }
        }
    }
=======
.column_slider {
    position: relative;
    padding: 80px 0 140px;

    .arrows {
        position: relative;
        z-index: 10;
    }

    .slick-arrow {
        display: inline-block;
        z-index: 10;
        padding: 0;
        border: none;
        background: transparent;

        &:active,&:focus {
            outline: none;
        }

        .arrow-blue {
            background: url(./../img/arrow-blue.svg) no-repeat;
            width: 80px;
            height: 80px;
            display: block;
            background-size: 100%;

            &.reverse {
                background: url(./../img/arrow-blue-left.svg) no-repeat;
                background-size: 100%;
            }
        }
    }

    .panel {
        background: #f6f6f6;
        padding: 30px;
        position: absolute;
        bottom: 0;
        min-width: 500px;
        min-height: 450px;

        h2 {
            max-width: 310px;
        }
    }

    .slick-track {
        display: flex;
        align-items: center;
        margin: 40px 0;
    }

    .tc_banner_block__inner {
        position: relative;
        min-height: 325px;
        width: 100%;
        text-align: center;
        opacity: .6;

        h2 {
            color: white;
            font-size: 24px;
            margin: 0;
        }

        .wp-block-buttons {
            display: none;
        }
    }

    .slick-center {
        .tc_banner_block__inner {
            min-height: 500px;
            margin-top: -70px;
            transform: scale(1.3);
            z-index: 1;
            opacity: 1;

            box-shadow: 0 0 10px rgba(0,0,0,0.1);

            h2 {
                font-size: 30px;
            }

            a,h2 {
                transform: scale(0.7);
            }

            .uk-position-bottom-center {
                bottom: 20px;
            }

            .wp-block-buttons {
                display: block;
            }
        }
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}