.column_slider {
  position: relative;
  padding: 80px 0 140px;
}
.column_slider .arrows {
  position: relative;
  z-index: 10;
<<<<<<< HEAD
  left: -16px;
}
.column_slider .arrows button:last-child {
  position: relative;
  left: -20px;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.column_slider .slick-arrow {
  display: inline-block;
  z-index: 10;
  padding: 0;
  border: none;
  background: transparent;
}
.column_slider .slick-arrow:active,
.column_slider .slick-arrow:focus {
  outline: none;
}
.column_slider .slick-arrow .arrow-blue {
  background: url(../img/arrow-blue.svg) no-repeat;
  width: 80px;
  height: 80px;
  display: block;
  background-size: 100%;
}
.column_slider .slick-arrow .arrow-blue.reverse {
  background: url(../img/arrow-blue-left.svg) no-repeat;
  background-size: 100%;
}
.column_slider .panel {
  background: #f6f6f6;
  padding: 30px;
  position: absolute;
  bottom: 0;
  min-width: 500px;
  min-height: 450px;
}
.column_slider .panel h2 {
  max-width: 310px;
}
.column_slider .slick-track {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.column_slider .tc_banner_block__inner {
  position: relative;
  min-height: 325px;
  width: 100%;
  text-align: center;
  opacity: 0.6;
}
.column_slider .tc_banner_block__inner h2 {
  color: white;
  font-size: 24px;
  margin: 0;
}
.column_slider .tc_banner_block__inner .wp-block-buttons {
  display: none;
}
.column_slider .slick-center .tc_banner_block__inner {
  min-height: 500px;
  margin-top: -70px;
  transform: scale(1.3);
  z-index: 1;
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.column_slider .slick-center .tc_banner_block__inner h2 {
  font-size: 30px;
}
.column_slider .slick-center .tc_banner_block__inner a,
.column_slider .slick-center .tc_banner_block__inner h2 {
  transform: scale(0.7);
}
.column_slider .slick-center .tc_banner_block__inner .uk-position-bottom-center {
  bottom: 20px;
}
.column_slider .slick-center .tc_banner_block__inner .wp-block-buttons {
  display: block;
}
