.tc_links {
<<<<<<< HEAD
  margin-top: -20px;
  padding-bottom: 50px;
=======
  margin-top: -40px;
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.tc_links .bg {
  padding: 200px 55px 40px;
  text-align: center;
  min-height: 475px;
  max-width: 350px;
  margin: 0 auto;
}
.tc_links .bg h2 {
  color: white;
  margin: 0;
}
.tc_links .bg p {
  font-size: 14px;
  line-height: 22px;
  color: white;
  margin-bottom: 30px;
}
