<<<<<<< HEAD
.tc_links {
    margin-top: -20px;
    padding-bottom: 50px;
    .bg {
        padding: 200px 55px 40px;
        text-align: center;
        min-height: 475px;
        max-width: 350px;
        margin: 0 auto;

        h2 {
            color: white;
            margin: 0;
        }

        p {
            font-size: 14px;
            line-height: 22px;
            color: white;
            margin-bottom: 30px;
        }
    }
=======
.tc_links {
    margin-top: -40px;
    .bg {
        padding: 200px 55px 40px;
        text-align: center;
        min-height: 475px;
        max-width: 350px;
        margin: 0 auto;

        h2 {
            color: white;
            margin: 0;
        }

        p {
            font-size: 14px;
            line-height: 22px;
            color: white;
            margin-bottom: 30px;
        }
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}