<<<<<<< HEAD
@import '../../css/variables.less';

.gallery_block {
    padding: 80px 0 40px;

    .intro {
        position: relative;
        &::before {
            content: "";
            z-index: -1;
            background: rgb(255,173,62);
            background: -moz-linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
            background: linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e",endColorstr="#e05c16",GradientType=1);

            position: absolute;
            left: -40px;
            top: -80px;
            width: 303px;
            height: 650px;
        }

        img {
            padding-left: 25px;
        }

        a {
            color: @orange;
            font-weight: 500;

            &::after {
                content: "";
                background: url(./../img/link-arrow.svg) no-repeat;
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-left: 10px;
                position: relative;
                top: 1px;
            }
        }
    }

    .gallery {
        margin-top: 50px;

        .slick-list {
            margin: 25px;
        }

        .slick-slide {
            img {
                width: 100%;
                max-width: 1024px;
                margin: 0 auto;
            }
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 10;
            padding: 0;
            border: none;
            background: transparent;

            &:active,&:focus {
                outline: none;
            }

            .arrow-blue {
                background: url(./../img/arrow-blue.svg) no-repeat;
                width: 80px;
                height: 80px;
                display: block;
                background-size: 100%;

                &.reverse {
                    transform: rotate(180deg);
                }
            }

            &.slick-prev {
                left: -45px
            }

            &.slick-next {
                right: -45px;
            }
        }
    }
=======
@import '../../css/variables.less';

.gallery_block {
    padding: 80px 0 40px;

    .intro {
        position: relative;
        &::before {
            content: "";
            z-index: -1;
            background: rgb(255,173,62);
            background: -moz-linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
            background: linear-gradient(90deg, rgba(255,173,62,1) 0%, rgba(224,92,22,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e",endColorstr="#e05c16",GradientType=1);

            position: absolute;
            left: -40px;
            top: -80px;
            width: 303px;
            height: 650px;
        }

        a {
            color: @orange;
            font-weight: 500;

            &::after {
                content: "";
                background: url(./../img/link-arrow.svg) no-repeat;
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-left: 10px;
                position: relative;
                top: 1px;
            }
        }
    }

    .gallery {
        margin-top: 50px;

        .slick-list {
            margin: 25px;
        }

        .slick-slide {
            img {
                width: 100%;
            }
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 10;
            padding: 0;
            border: none;
            background: transparent;

            &:active,&:focus {
                outline: none;
            }

            .arrow-blue {
                background: url(./../img/arrow-blue.svg) no-repeat;
                width: 80px;
                height: 80px;
                display: block;
                background-size: 100%;

                &.reverse {
                    transform: rotate(180deg);
                }
            }

            &.slick-prev {
                left: -45px
            }

            &.slick-next {
                right: -45px;
            }
        }
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}