@import url("https://use.typekit.net/bdb7oiz.css");
.gallery_block {
  padding: 80px 0 40px;
}
.gallery_block .intro {
  position: relative;
}
.gallery_block .intro::before {
  content: "";
  z-index: -1;
  background: #ffad3e;
  background: -moz-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: -webkit-linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  background: linear-gradient(90deg, #ffad3e 0%, #e05c16 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad3e", endColorstr="#e05c16", GradientType=1);
  position: absolute;
  left: -40px;
  top: -80px;
  width: 303px;
  height: 650px;
}
<<<<<<< HEAD
.gallery_block .intro img {
  padding-left: 25px;
}
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
.gallery_block .intro a {
  color: #FCA73B;
  font-weight: 500;
}
.gallery_block .intro a::after {
  content: "";
  background: url(../img/link-arrow.svg) no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.gallery_block .gallery {
  margin-top: 50px;
}
.gallery_block .gallery .slick-list {
  margin: 25px;
}
.gallery_block .gallery .slick-slide img {
  width: 100%;
<<<<<<< HEAD
  max-width: 1024px;
  margin: 0 auto;
=======
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}
.gallery_block .gallery .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  padding: 0;
  border: none;
  background: transparent;
}
.gallery_block .gallery .slick-arrow:active,
.gallery_block .gallery .slick-arrow:focus {
  outline: none;
}
.gallery_block .gallery .slick-arrow .arrow-blue {
  background: url(../img/arrow-blue.svg) no-repeat;
  width: 80px;
  height: 80px;
  display: block;
  background-size: 100%;
}
.gallery_block .gallery .slick-arrow .arrow-blue.reverse {
  transform: rotate(180deg);
}
.gallery_block .gallery .slick-arrow.slick-prev {
  left: -45px;
}
.gallery_block .gallery .slick-arrow.slick-next {
  right: -45px;
}
