<<<<<<< HEAD
.image_parallax {
    position: relative;
    overflow: hidden;
    padding: 100px 0 80px;

    .text {
        position: relative;
        z-index: 2;
    }

    .graphic {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    h2 {
        font-size: 70px;
        font-weight: bold;
        line-height: 118px;
    }

    p {
        max-width: 440px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 26px;
    }
=======
.image_parallax {
    position: relative;
    overflow: hidden;
    padding: 100px 0 80px;

    .text {
        position: relative;
        z-index: 2;
    }

    .graphic {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    h2 {
        font-size: 70px;
        font-weight: bold;
        line-height: 118px;
    }

    p {
        max-width: 440px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 26px;
    }
>>>>>>> c01029ffff8ac05dab0c2b417ced39d7698cd4ce
}