.image_parallax {
  position: relative;
  overflow: hidden;
  padding: 100px 0 80px;
}
.image_parallax .text {
  position: relative;
  z-index: 2;
}
.image_parallax .graphic {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.image_parallax h2 {
  font-size: 70px;
  font-weight: bold;
  line-height: 118px;
}
.image_parallax p {
  max-width: 440px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
}
